@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
 /* general-setting*/  
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.conttent-head{
    align-items: center;
    width: 1134px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.logo img{
    width: 69.49px;
    height: 50px;
}
b{
    color: #1c00ff;
}
/* nave styling*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-bottom: 2%;
   width: 1134px;
   padding: 1.5% 0%;
}
nav ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    list-style: none;
}
nav ul li{
 color: black;
 font-size: 18px;
}
nav ul .nav-link-hover,
nav ul li:hover{
    color: #1C00FF;
    font-size: 20px;
}
.search{
    position: relative;
}
.search input{
    width:205px ;
    height: 50px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
    color: #b4b4b4;
    padding: 0% 30%;
}
.search input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #a3a3a3;
    align-items: center;
    line-height: 24px;
}
.search button{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 10%;
    bottom: 0;
    top: 0;

}
.nav-image{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-img{
    width: 26.67px;
    height: 29px;
}
.nav-img-sec-child{
    width: 22px;
    height: 26px;
}



/* header-section*/
header{
    display: flex;
    width: 1134px;
    justify-content: space-between;
    height: 596px;
    align-items: center;
}
header .header-desc{
    width:536px;
    display: flex;
    flex-direction: column;

}
header .header-desc h1{
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    color: #000000;  
}
header .header-desc p{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #C4C4C4;
    margin-top: -20px;
}
header .header-desc .cta12{
    margin-top: 70px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}
header .header-desc .cta12 button{
    width: 157px;
    height: 52px;
    left: 1px;
    bottom: 92px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .header-desc .cta12 button:hover{
    width: 165px;
    height:63px;
}
header .header-desc .cta12 .exp{
    background: #1C00FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .header-desc .cta12  .reg{
    background-color: #ffffff;
    border: 1px solid #a3a3a3;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1C00FF;
}
.header-ill{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-ill img{
    position: relative;
}
.scall-top,
.scall-botm{
    position: absolute;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.scall-botm{
    bottom: 20px;
    left: -10px;
    z-index: 10;
    width: 272px;
    height: 78px;
    background: #FFFFFF;
    box-shadow: 0px 10.8598px 20.8841px rgba(189, 189, 189, 0.25);
    border-radius: 8.35366px;    
}
.scall-top{
    top: 250px;
    left: -100px;
    z-index: 10;
    width: 252px;
    height: 84px;
    background: #FFFFFF;
    box-shadow: 0px 10.8598px 20.8841px rgba(189, 189, 189, 0.25);
    border-radius: 8.35366px;   
}

.scall-top span h1,
.scall-botm span h1{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}
.scall-top span h2,
.scall-botm span h2{
    font-weight: 400;
    font-size: 11.6951px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #A3A3A3;    
}

.header-icon{
    background-color: #1C00FF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    color: #ffffff;
    font-weight: 700;
    font-size: 28.5138px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
    background: #1C00FF;
    border-radius: 500px;
    position: absolute;
    left: -50px;
    box-shadow: 0px 20.0488px 25.061px rgba(162, 162, 162, 0.25);
}


/*   next section styling*/
.structure{
    margin-top: 60px;
    width: 963px;
    height: 134px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 8.93321px 40.1994px rgba(214, 214, 214, 0.25);
    border-radius: 17.8664px;
    padding:10px 10px;
}
.structure-cont{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 280px;
    height: 88px;    
}
.structure img{
    width: 62.53px;
    height: 62.53px;
}

.structure-cont-wright h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.structure-cont-wright h2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B3B3B3;    
}
    

/* product slide*/

.slide{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    box-shadow: 0px 0px 10px 10px #f9f9f9;
    border-radius: 50px;
    padding: 0;
    position: relative;
}

.slide img{
    cursor: pointer;
}
.slide .product{
    width: 800px;
    height: 170px;
    overflow-x: hidden;
}
.product-slide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-slide{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: black;
}
/* design for the top sales section*/
.top-sales{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 60px;
    width: 100%;
    height: 525px;
    background: #E5E8FF;  
    box-shadow: 0px 131px 53px rgba(189, 189, 189, 0.01), 0px 74px 44px rgba(189, 189, 189, 0.03), 0px 33px 33px rgba(189, 189, 189, 0.04), 0px 8px 18px rgba(189, 189, 189, 0.05), 0px 0px 0px rgba(189, 189, 189, 0.05);
    border-radius: 17.222px;
}
.top-sales .top-sales-wright{
    width: 381px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-sales .top-sales-wright h1{
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.05em;
    color: #030710; 
}
.top-sales .top-sales-wright span{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;    
}
.top-sales .top-sales-wright h2{
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #1C00FF;       
}
.top-sales .top-sales-wright button{
    border: none;
    width: 357px;
    height: 52px;
    background: #1C00FF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;    
}
.top-sales .top-sales-wright button:hover{
    background-color: #1e06d3;
}
/*  design for all herding*/
.heardeing{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 400;
}

/*  all other design */
.img-display{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:520px;
}
.row .display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 358px;
    overflow: hidden;
    border-radius: 10px;
    min-height: 500px;
}
.display:hover{
    transform: translateY(1%);
}
.display .img{
    height: 300px;
    width: 358px;
}
.display-dic{
    width: 100%;
    min-height: 242px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.display-dic span{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.display-dic span h2{
    font-size: 25px;
    font-weight: 400px;
}
.display-dic span li{
    align-items: center;
    justify-content: space-around;
    width: 20%;
    display: inline-flex;
}
.display-dic h1{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
}
.add-to-cart{
    height: 45px;
    border: none;
    background-color: #1C00FF;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.add-to-cart:hover{
    background-color: #1e06d3;
}
.buy-now{
    background-color: #ffffff;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #1C00FF;
    font-weight: 600;
}
.buy-now:hover{
    background-color: #C4C4C4;
}


/*  become a sales person */
.sele-product{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 60px;
    height:525px ;
    background: #F2F3FF;
    box-shadow: 0px 131px 53px rgba(189, 189, 189, 0.01), 0px 74px 44px rgba(189, 189, 189, 0.03), 0px 33px 33px rgba(189, 189, 189, 0.04), 0px 8px 18px rgba(189, 189, 189, 0.05), 0px 0px 0px rgba(189, 189, 189, 0.05);
    border-radius: 30px; 
}
.sele-product .sele-product-wright{
    display: flex;
    flex-direction: column;
    width:503px ;
    height: 100%;
    justify-content: space-around;
}
.sele-product .sele-product-wright h1{
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #1C00FF;    
}
.sele-product .sele-product-wright span{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: #000000;    
}
.sele-product .sele-product-wright button{
   border: none;
   width: 157px;
   height: 52px;
   background: #1C00FF;
   border-radius: 5px;
   color: #ffffff;
   font-size: 16px;
   font-weight: 400;
}
.sele-product .sele-product-wright button:hover{
   background-color: #1e06d3;
}


/* seller position*/
.seller-position{
    width: 100%;
}
.seller-position .profile{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 326.07px;
    height: 310.21px;
    background: #FFFFFF;
    box-shadow: 0PX 0PX 10PX 10PX #f9f9f9;
    border-radius: 10PX;
}
.seller-position .profile h1{
    width: 88px;
    font-weight: 600;
    font-size: 16px;
    line-height: 136.5%;
    color: #000000;
}
.seller-position .profile h2{
    width: 249.4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 136.5%;
    text-align: center;
    color: #A3A3A3;
}
.seller-position .profile p{
    width: 93px;
    font-weight: 500;
    font-size: 16px;
    line-height: 136.5%;
    color: #7A7A7A;
}



/* footer styling*/

 
.footer{
    width: 100%;
    background-color:#030710;
    align-items: center;
    display: flex;
    flex-direction: column;
}
footer{
width: 1310px;
height: 612px;
background-color: #030710;
padding: 70px 20px;
}
footer ul{
    list-style: none;
    margin-left: 5px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-colum h3{
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400px;
    line-height: 34.8px;
    margin-top: 20px;
}
footer ul a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 2px;
}
footer ul a h1{
font-size: 24px;
line-height:36.8px ;
margin-top: 6px;
margin-bottom: 7px;
font-weight:300;
}
.socials{
display: flex;
justify-content: space-between;
margin-top: 13px;
}
.footer-down{
    display: flex;
    justify-content: space-between;
    margin-left: 320px;
    margin-top: 30px;
}
.footer-down h1{
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.subscribe h1{
    text-align: center;
}
.subscribe input{
    width:545px ;
    height: 52px;
    background-color: #ffffff;
    outline: none;
    border: none;
    color: black;
    font-size: 18px;
    padding: 0px 20px;
}
.subscribe input::placeholder{
color: #a3a3a3;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
}
.subscribe button{
    height: 52px;
    border: none;
    position: absolute;
    width: 126px;
    background-color: #1c00ff;
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    
}
.app-down{
    display: flex;
    flex-direction: column;
}
.app-down img{
    margin-left: 15px;
}