@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
 /* general-setting*/  
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.conttent-head{
    align-items: center;
    width: 1134px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y:scroll;
}
.logo img{
    width: 69.49px;
    height: 50px;
}
b{
    color: #1c00ff;
}
.pop-up-sec{
    position:fixed;
    left: 0;
    pointer-events: none;
    height: 100vh;
    z-index: 1000;
    padding: 5% 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.mes-pop-up{
     width: 600px;
     height: 180px;
     background-color: #1c00ff;
     border-radius: 20px;
     text-align: center;
     padding: 6% 10%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}
.mes-pop-up h1{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
.mes-pop-up p{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.anim{
    animation: pop-up 3s ease forwards;
}
@keyframes pop-up{
0%{
    transform: translateX(10%);
}
5%{
    transform: translateX(-10%);
}
10%{
    transform: translateX(0%);
}
15%{
    transform: translateX(-10%);
}
20%{
    transform: translateX(-10px);
}
80%{
    transform: translateX(-10px);
}
85%{
    transform: translateX(-10%);
}
90%{
    transform: translateX(0%);
}
95%{
    transform: translateX(-10%);
}
100%{
    transform: translateX(0%);
    transform: scale(0);
}
}
/* nave styling*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-bottom: 2%;
   width: 1134px;
   padding: 1.5% 0%;
   position: relative;
   z-index: 1000;
}
nav ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    list-style: none;
}
nav ul li{
 color: black;
 font-size: 18px;
}
nav ul .nav-link-hover,
nav ul li:hover{
    color: #1C00FF;
    font-size: 20px;
}
.search{
    position: relative;
}
.search input{
    width:205px ;
    height: 50px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
    color: #b4b4b4;
    padding: 0% 30%;
}
.search input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #a3a3a3;
    align-items: center;
    line-height: 24px;
}
.search button{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 10%;
    bottom: 0;
    top: 0;

}
.user-log{
    position: absolute;
    z-index: 100000;
    background-color: #ffffff;
    top: 120%;
    right: 2%;
    box-shadow:2px 1px 10px 2px #969697 ;
    border-radius: 10px;
    animation: up .5s ease forwards;
}
.user-dit{
    width: 274px;
    height: 441px;
    background: #FFFFFF;
    box-shadow: 0px 20.0488px 25.061px rgba(162, 162, 162, 0.25);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  

}
@keyframes up{
    0%{
        transform: translateY(-15%);
    }
}
#user{
    margin-left: 1vw;
    height: 100%;
    width: 25%;
    padding: 22px;
    cursor: pointer;
}
.note{
    display: block;
background-color: black;

}
.boder-dawn{
    border-bottom: 1px solid #a3a3a3;
    width: 100%;
    height: 15%;
    align-items:flex-start;
    display: flex;
    flex-direction:row;
    gap: 5%;
    position: relative;
}
.boder-dawn img:first-child{
   width: 40px;
   height: 40px;
   
}


.rotate{
    transform: rotate(180deg);
    padding: 10px;
    margin-left: 20%;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.preferred-store-logo-img{
    width: 50px;
    height: 50px;
    border-radius: 3000px;
}
.preferred-dit-store-name{
    display: flex;
    flex-direction: column;
}   
.preferred-dit-store-name h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* identical to box height, or 125% */
    color: #000000;
    letter-spacing: -0.02em;
    
}
.user-dit ul{
    height: 85%;
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.user-dit a{
    width: 100%;
}
.user-dit ul li{
    width: 100%;
    display: flex;
    gap: 10%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.02em;
    color: #7A7A7A;
    align-items: center;
    text-transform: capitalize;
    height: 40px;
    padding: 0% 5%;
    border-radius: 5px;
    cursor: pointer;
}
.user-dit ul li img{
    width: 21px;
    height: auto;
}

.user-dit ul a:last-child{
    margin-top: 10%;
}
.user-dit ul li:hover,
.user-dit ul a:hover{
    background-color: #fcfcfd;
}
.user-dit ul li:hover,
.user-dit ul a li:hover{
    color: #7A7A7A;
    font-size: 14px;
}
.mes-alt{
    width: 324px;
    height: 211px;
    position: absolute;
    background:#fff;
    top:200%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 4px 100px rgba(27, 27, 27, 0.25);
    transition: .5s ease-in-out;
    transform: scale(0);
    z-index: 1000;
}
.mes-no{
    right: 0;
    position: absolute;
    top: -40%;
}
.mes-alt .info{
    width: 100%;
    height: 70%;
    padding: 10% 0%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    float: row;
   
}
.mes-alt-out{
   transform: scale(1);
}
.info img{
    width: 40px;
    height: auto;
}
.info-dit{
    width: 60%;
}
.info .info-dit h1{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height, or 83% */
    letter-spacing: -0.02em;
    color: #000000;
}
 .info .info-dit p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */
    letter-spacing: -0.02em;
    color: #000000
 }
 .mes-yes{
    background-color: #1C00FF;
    border: none;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: right;
    padding: 0% 20%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    letter-spacing: -0.02em;
    color: #FFFFFF;
    display: flex;
    gap: 5%;
 }
 .mes-yes img{
    width: 20%;
    height: auto;
 }
.mes-box{
    position: absolute;
    width: 0;
    height: 709px;
    top:100%;
    right: 0;
    padding: 2% 0%;
    padding-top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(29, 29, 29, 0.25);
    border-radius: 10px;   
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    transform: translateX(160%);
    opacity: 0;
    pointer-events: none;
    transition: .5s ease-in-out;
    overflow:hidden;
}
.mes-box-out{
    padding: 2% 5%;
    transform: translateX(0%);
    opacity: 1;
    pointer-events: visible;
    width: 504px;
}
.remove{
    position: absolute;
    right: 4%;
    cursor: pointer;
    top: 2%;
    width: 5%;
    height:auto;
}
.mes-box h1{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.mes-box p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;    
}
.mes-box input{
     height: 58px;
     width: 100%;
     border-radius: 5px;
     border: 1px solid #C4C4C4;
     padding: 0% 3%;
     font-weight: 400;
     font-size: 16.7637px;
     line-height: 19px;
     outline: none;
}
.mes-box input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 12.7637px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #848989;
}
.mes-box textarea{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    padding: 3%;
    outline: none;
    font-weight: 400;
    font-size: 16.7637px;
    line-height: 19px;
}
.mes-box textarea::placeholder{
    font-weight: 400;
    font-size: 12.7637px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #A1A1A1;    
}
.mes-box button{
    width: 100%;
    background-color: #1C00FF;
    height: 58px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12.7637px;
    line-height: 19px;   
    color: #fff;
    border: none;
}
.nav-image{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-img{
    width: 26.67px;
    height: 29px;
}
.nav-img-sec-child{
    width: 22px;
    height: 26px;
}

.categories-cont{
    width: 500px;
    height: 180px;
    padding: 20px;
    overflow-y: scroll;
}
.categories-cont::-webkit-scrollbar{
    width: 40px;
}
.categories-cont::-webkit-scrollbar-track{
    background-color:transparent;
    border-radius: 200px;
    border: 18px solid #fcfcfd;
}
.categories-cont::-webkit-scrollbar-thumb{
    background-color: #1e06d3;
    border-radius: 1000px;
    border: 19px solid #fcfcfd;
}
.cartgos{
    position: absolute;
    background-color:#fcfcfd;
    z-index: 1;
    top: 110px;
    left:350px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: 3s ease-in-out;
    display: none;
    animation: 2s cartgos ease-in-out;
}
@keyframes cartgos{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
}
.li-cart:hover .cartgos{
   transform: translateY(0%);
   opacity: 1;
   display: block;
}

.cartgos::before{
   background-color:#fcfcfd;
   z-index: 10;
   content: "";
   width: 50px;
   height: 50px;
   border-radius: 5px;
   position: absolute;
   transform: rotate(45deg);
   top: -25px;
   left: 70px;
   z-index: -1;
}
.cart-rwo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    padding: 0% 2%;
    justify-content: space-between;
}
.cart-rwo label img{
    width: 15px;
    height: auto;
}
.cartgos .cart-rwo a label{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    cursor: pointer;
    gap: 10px;
}
.cart-rwo a label span{
    font-size: 19px;
    text-transform: capitalize;
    color: #1e06d3;
    font-weight: 500;
}
/* header-section*/
header{
    display: flex;
    width: 1134px;
    justify-content: space-between;
    height: 596px;
    align-items: center;
    margin-top: 5%;
}
header .header-desc{
    width:40%;
    display: flex;
    flex-direction: column;

}
header .header-desc h1{
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    color: #000000;  
}
header .header-desc p{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #C4C4C4;
    margin-top: -20px;
}
header .header-desc .cta12{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
header .header-desc .cta12 button{
    width: 157px;
    height: 52px;
    left: 1px;
    bottom: 92px;
    border-radius: 5px;
    border: 1px solid #1c00ff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
}
header .header-desc .cta12 button:hover{
    width: 165px;
    height:63px;
}
header .header-desc .cta12 .exp{
    background: #1C00FF;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .header-desc .cta12  .reg{
    background-color: #ffffff;
    font-weight: 500;
    line-height: 24px;
    color: #1C00FF;
}
.header-ill{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-ill img{
    position: relative;
}
.scall-top,
.scall-botm{
    position: absolute;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
    flex-direction: row;
}
.scall-botm{
    bottom: 20px;
    left: -5%;
    z-index: 10;
    width: 272px;
    height: 78px;
    background: #FFFFFF;
    box-shadow: 0px 10.8598px 20.8841px rgba(189, 189, 189, 0.25);
    border-radius: 8.35366px;    
}
.scall-top{
    top: 45%;
    left: -20%;
    z-index: 10;
    width: 252px;
    height: 84px;
    background: #FFFFFF;
    box-shadow: 0px 10.8598px 20.8841px rgba(189, 189, 189, 0.25);
    border-radius: 8.35366px;   
}

.scall-top span h1,
.scall-botm span h1{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}
.scall-top span h2,
.scall-botm span h2{
    font-weight: 400;
    font-size: 11.6951px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #A3A3A3;    
}

.header-icon{
    background-color: #1C00FF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    color: #ffffff;
    font-weight: 700;
    font-size: 28.5138px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
    background: #1C00FF;
    border-radius: 500px;
    position: absolute;
    left: -20%;
    box-shadow: 0px 20.0488px 25.061px rgba(162, 162, 162, 0.25);
}


/*   next section styling*/
.structure{
    margin-top: 60px;
    width: 963px;
    height: 134px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 8.93321px 40.1994px rgba(214, 214, 214, 0.25);
    border-radius: 17.8664px;
    padding:10px 10px;
}
.structure-cont{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 280px;
    height: 88px;    
}
.structure img{
    width: 62.53px;
    height: 62.53px;
}

.structure-cont-wright h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.structure-cont-wright h2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B3B3B3;    
}
    

/* product slide*/

.slide{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    box-shadow: 0px 0px 10px 10px #f9f9f9;
    border-radius: 50px;
    padding: 0;
    position: relative;
}

.slide img{
    cursor: pointer;
}
.slide .product{
    width:fit-content;
    height: 220px;
    overflow: hidden;
    display: flex;
}
.product-slide{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-slide{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
    background-color: black;
}
.display-slide{
    position: relative;
    width: 220px;
    height: 220px;
    margin-left: 10px;
    margin-right: 10px;
}
.display-slide span{
    display: flex;
    position: absolute;
    top: 0;
    left: 9%;
    width: 220px;
    height: 220px;
    background-color: rgba(129, 126, 126, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 18.5px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    color: #f9f9f9;
    transform: translateY(100%);
    opacity: 0;
    transition: 1s ease-in-out;
}
.display-slide:hover .span-dis{
    transform: translateY(0%);
    opacity: 1;
}
.display-slide img{
    width: 220px;
    height: 220px;
    padding: 0;
    position: relative;
    border-radius: 20px;
    filter: brightness(.5);
    filter: contrast(1.2);
}
/* design for the top sales section*/
.top-sales-slide-show{
    width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.move-right{
    animation: move_right 1s ease-in-out;
    color: black;
}
@keyframes move_right{
    0%{
        transform: translateX(-20%);
        color: black;
    }
    50%{
        transform: translateX(20%);
    }
}
.top-sales{
    width: 100%;
}
.image{
    position: relative;
    width: 40%;
    height: 100%;
    
}
.top-sale-img{
    animation: top-sale-img 1s ease-in-out;
    
}
.image img{
    width: 100%;
    height: 100%;
}
@keyframes top-sale-img{
    0%{
     width: 0px;
     height: 0px;
     position: absolute;
    }
    
}
.top-sales{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    width: 100%;
    height: 525px;
    background: #E5E8FF;  
    box-shadow: 0px 131px 53px rgba(189, 189, 189, 0.01), 0px 74px 44px rgba(189, 189, 189, 0.03), 0px 33px 33px rgba(189, 189, 189, 0.04), 0px 8px 18px rgba(189, 189, 189, 0.05), 0px 0px 0px rgba(189, 189, 189, 0.05);
    border-radius: 17.222px;
    position: relative;
}
.not{
    display: none;
}
.doting{
    display: flex;
    justify-content: space-between;
    width: 200PX;
    position: relative;
    bottom: 30px;
}
.dot{
    width: 20px;
    height: 20px;
    background-color:transparent;
    border-radius: 500px;
    border: 3px solid #1e06d3;
}
.active-dot{
    background-color: #1e06d3;
}

.top-sales .top-sales-wright{
    overflow-x: hidden;
    width: 381px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-sales .top-sales-wright h1{
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.05em;
    color: #030710; 
}
.top-sales .top-sales-wright span{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;    
}
.top-sales .top-sales-wright h2{
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #1C00FF;       
}
.top-sales .top-sales-wright button{
    border: none;
    width: 357px;
    height: 52px;
    background: #1C00FF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;    
}
.top-sales .top-sales-wright button:hover{
    background-color: #1e06d3;
}
/*  design for all herding*/
.heardeing{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 400;
}

/*  all other design */
.img-display{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dis-row{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5%;
    padding: 0% 1.5%;
}
.row{
    margin-top: 50px;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.display{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 355.6px;
    overflow: hidden;
    border-radius: 10px;
}
.display:hover{
    transform: translateY(1%);
}
.display .img{
    height: 270px;            
    width: 100%;
}
.display-dic{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.display-dic span{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.display-dic span h2{
    font-size: 25px;
    font-weight: 400px;
}
.display-dic span li{
    align-items: center;
    justify-content: space-around;
    width: 20%;
    display: inline-flex;
}
.display-dic h1{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
}
.add-to-cart{
    height: 45px;
    border: none;
    background-color: #1C00FF;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.add-to-cart:hover{
    background-color: #1e06d3;
}
.buy-now{
    background-color: #ffffff;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #1C00FF;
    font-weight: 600;
}
.buy-now:hover{
    background-color: #C4C4C4;
}
/* filters section styling*/
.filter{
    width: 90%;
    padding: 0px 0px;
    margin-top: 40px;
    position: relative;
    height: 50px;
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter span{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.filter span a b{
  opacity: .5;
}
.filter h3{
    font-size: 20px;
    font-weight: 500;
    color: #7A7A7A;
    cursor: pointer;
}

.filters{
    width: 550px;
    border-radius: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top: 50px;
    background-color:#f9f9fa;
    box-shadow: 0px 0px 50px 1px #979ef6;
    left:2%;
}
.brande-slide{
    width: 100%;
    overflow-x: hidden;
}
.brande-slide span{
    display: flex;
}
.brande-slide span h2{
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 20px;
}
.brand-slide-show{
     display: flex;
     align-items: center;
     margin-top: 10px;
     overflow-x: scroll;
     height: 100px;
}
.brand-slide-show::-webkit-scrollbar{
    height: 5px;

}
.brand-slide-show::-webkit-scrollbar-track{
    background-color: transparent;
    transition: 10s ease-in-out;
    border-radius: 100px;

}
.brand-slide-show::-webkit-scrollbar-track:hover{
    background-color: #a5a9e7;
}
.brand-slide-show::-webkit-scrollbar-thumb{
    background-color: #1e06d3;
    border-radius: 200px;

}
.brand-color,
.brand-name{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    margin-top: 10px ;
    padding: 10px 15px;
    background-color: #e0e5f2;
    border-radius: 500px;
    color: #1e06d3;
    position: relative;
    min-width:120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}
#eras{
    position: absolute;
    right:30px;
}
.add{
    animation: add 2s ease forwards;
}
@keyframes add{
    0%{
        transform: translateX(-100%);
    }
}
.brand-color{
    justify-content:right;
    padding-right: 20px;
}
.brand-color::before{
    width: 30px;
    height: 30px;
    content: "";
    position: absolute;
    background-color: black;
    left: 10px;
    border-radius: 500px;
}
.brand-color:nth-child(1)::before{
    background-color: white;
}
.brand-color:nth-child(2)::before{
    background-color: black;
}
.brand-color:nth-child(3)::before{
    background-color: gold;
}
.brand-color:nth-child(4)::before{
    background-color: purple;
}
.brand-color:nth-child(5)::before{
    background-color: pink;
}
.brand-color:nth-child(6)::before{
    background-color: blue;
}
.brand-color:nth-child(7)::before{
    background-color: gray;
}


.rang{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
}
.container-rang{
    width: 90%;
    margin-top: 30px;
    position: relative;
    height: 100px;
}
.container-rang input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance:none ;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.container-rang .slider{
  width: 100%;
  height: 7px;
  background-color:  #e0e5f2;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  margin: auto;
}
.container-rang input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 7px;

}
.container-rang input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 7px;
}
.container-rang input[type="range"]::-ms-track{
    appearance: none;
    height: 7px;
}
.container-rang input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1e06d3;
    border-radius: 500px;
    cursor: pointer;
    pointer-events: auto;
    margin-top: -3px;
}
.container-rang input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1e06d3;
    border-radius: 500px;
    cursor: pointer;
    pointer-events: auto;
    margin-top: -3px;   
}
.container-rang input[type="range"]::-ms-thumb{
   appearance: none;
   height: 15px;
   width: 15px;
   background-color: #1e06d3;
   border-radius: 500px;
   cursor: pointer;
   pointer-events: auto;
   margin-top: -3px; 
}
.container-rang input[type="range"]:active::-webkit-slider-thumb{
    background-color: transparent;
    border: 4px solid #1e06d3;
}

.valu{
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 500;
}
.valu .valus span{
    font-size: 21px;
    font-weight: 500;
}



.customer-rev{
    width: 100%;
    margin-top: 30px;
}
.customer-rev h1{
    font-size: 21px;
    font-weight: 500;
}
.star-rate{
    margin-top: 20px;
}
.apply{
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #1e06d3;
    color: white;
    font-size: 21px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right:30px;
}
.bramd{
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: center;
}
.bramd a{
    width: fit-content;
    height: fit-content;
}
.bramd a img{
    width: 150px;
    height: 150px;
    border-radius:10px;
}
/*  become a sales person */
.sele-product{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 60px;
    height:525px ;
    background: #F2F3FF;
    box-shadow: 0px 131px 53px rgba(189, 189, 189, 0.01), 0px 74px 44px rgba(189, 189, 189, 0.03), 0px 33px 33px rgba(189, 189, 189, 0.04), 0px 8px 18px rgba(189, 189, 189, 0.05), 0px 0px 0px rgba(189, 189, 189, 0.05);
    border-radius: 30px; 
}
.sele-product .sele-product-wright{
    display: flex;
    flex-direction: column;
    width:50%;
    height: 100%;
    justify-content: space-around;
}
.sele-product .sele-product-wright h1{
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #1C00FF;    
}
.sele-product .sele-product-wright span{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: #000000;    
}
.sele-product .sele-product-wright button{
   border: none;
   width: 157px;
   height: 52px;
   background: #1C00FF;
   border-radius: 5px;
   color: #ffffff;
   font-size: 16px;
   font-weight: 400;
}
.sele-product .sele-product-wright button:hover{
   background-color: #1e06d3;
}


/* seller position*/
  .profile-comp{
    display: flex;
    flex-direction: row;
    width: 326.07px;
    overflow-x: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .profile-img img{
    width: 326.07;
    height: 300.21px;
    opacity: 1;
  }
.seller-position{
    width: 100%;
}
.product-comp:hover +.profile-img img{
    opacity: 0;
}
.profile-comp:hover .profile{
    transform: translateX(0%);
}
.seller-position .profile{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 326.07px;
    height: 310.21px;
    background: #FFFFFF;
    border-radius: 10PX;
    position: absolute;
    transform: translateX(-110%);
    z-index: 1000;
    transition: 1s ease-in-out;
}
.seller-position .profile-comp .profile h1{
    font-weight: 600;
    font-size: 16px;
    line-height: 136.5%;
    color: #000000;
}
.seller-position .profile-comp .profile h2{
    width: 249.4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 136.5%;
    text-align: center;
    color: #A3A3A3;
}
.seller-position .profile-comp .profile p{
    font-weight: 500;
    font-size: 16px;
    line-height: 136.5%;
    color: #7A7A7A;
}



/* footer styling*/

 
.footer{
    width: 100%;
    background-color:#030710;
    align-items: center;
    display: flex;
    flex-direction: column;
}
footer{
width: 1310px;
height: 612px;
background-color: #030710;
padding: 70px 20px;
}
footer ul{
    list-style: none;
    margin-left: 5px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-colum h3{
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400px;
    line-height: 34.8px;
    margin-top: 20px;
}
footer ul a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 2px;
}
footer ul a h1{
font-size: 24px;
line-height:36.8px ;
margin-top: 6px;
margin-bottom: 7px;
font-weight:300;
}
.socials{
display: flex;
justify-content: space-between;
margin-top: 13px;
}
.footer-down{
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    margin-top: 30px;
}
.footer-down h1{
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.subscribe h1{
    text-align: center;
}
.subscribe input{
    width:545px ;
    height: 52px;
    background-color: #ffffff;
    outline: none;
    border: none;
    color: black;
    font-size: 18px;
    padding: 0px 20px;
}
.subscribe input::placeholder{
color: #a3a3a3;
font-size: 100%;
font-weight: 400;
line-height: 16.94px;
}
.subscribe button{
    height: 52px;
    border: none;
    position: absolute;
    width: 126px;
    background-color: #1c00ff;
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    
}
.app-down{
    display: flex;
    flex-direction: column;
}
.app-down img{
    margin-left: 15px;
}




@media screen and (max-width :1100px ) {
       .conttent-head{
        width: 100%;
       }
      
       nav{
        width: 100%;
        padding: 1.5% 5%;
       }
       nav ul{
        width: 35%;
       }
       nav ul li{
        font-size: 16px;
       }
       nav ul .nav-link-hover,
       nav ul li:hover{
        font-size: 18px;
       }
       .search input{
        width: 180px;
        height: 40px;
        padding: 0% 25%;
       }
       .search input::placeholder{
        font-size: 14px;
        line-height: 20px;
       }
       nav  button img{
        width: 13px;
        height: 13px;
       }
       .nav-image img{
        width: 23px;
        height: 23px;
       }

       .mes-alt{
        width: 250px;
        height: 170px;
       }
       .info .info-dit h1{
             font-size: 18px;
       }
       .info .info-dit p{
              font-size: 12px;
              line-height: 18px;
       }
       .mes-yes{
              font-size: 15px;
       }
       .mes-pop-up{
        width: 400px;
        height: 100px;
       }
       .mes-pop-up h1{
        font-size: 18px;
       }
       .mes-pop-up p{
        font-size: 12px;
       }
       /* header section */
        header{
            width: 100%;
            padding:0% 5% ;
            height: 500px;
        }
        header .header-desc h1{
            font-size: 42px;
            line-height: 68px;
        }
        header .header-desc p{
            font-size: 20px;
            line-height: 26px;
            margin-top: -35px;
        }
        .header-ill img {
            width: 80%;
            height: 80%;
        }
        .scall-botm{
            width: 172px;
            height: 55px;
            left: 10%;
        }
        .scall-top{
            width: 152px;
            height: 55px;
            left: 0%;
        }
        .scall-top span h1,
        .scall-botm span h1{
            font-size: 12px;
            line-height: 20px;
        }
        .scall-top span h2,
        .scall-botm span h2{
            font-size: 9.6951px;
            line-height: 14px; 
        }
        .header-icon{
            width: 65px;
            height: 65px;
            font-weight: 700;
            font-size: 28.5138px;
            position: absolute;
            left: -35%;
        }
        .header-icon img{
            width: 50%;
            height: 50%;
        }
        .slide{
            width: 95%;
            height: 250px;
        }
        .slide .product{
            width:fit-content;
            height: 150px;
        }
        .display{
            width: 320px;
        }
        .display-slide img{
            width: 150px;
            height: 150px;
        }
        .display-slide span{
            width: 150px;
            height: 150px;
            font-size: 20px;
            left: 10.5%;
        }
        .top-sales-slide-show{
            width: 95%;
        }
        .heardeing{
            font-size: 50px;
        }
        .row .display{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 300px;
            overflow: hidden;
            border-radius: 10px;
            margin-left: 1%;
            margin-right:1% ;
        }
        .sele-product{
            width: 95%;
        }
        footer{
            width: 100%;
        }
        .footer-down{
            margin-left: 7%;
        }
    }

@media screen and (max-width :915px ) {
       .conttent-head{
        width: 100%;
       }

       nav{
        width: 100%;
        padding: 1.5% 4%;
       }
       nav ul{
        width: 35%;
       }
       .categories-cont{
        width: 350px;
        padding: 10px;
        height: 100px;
       }
       .categories-cont::-webkit-scrollbar{
        width: 20px;
       }
       .categories-cont::-webkit-scrollbar-track{
        background-color:transparent;
        border-radius: 200px;
        border: 10px solid #fcfcfd;
        }
        .categories-cont::-webkit-scrollbar-thumb{
            background-color: #1e06d3;
            border-radius: 1000px;
            border: 9px solid #fcfcfd;
        }

        .cartgos{
            top: 100px;
            left:25%;
            padding: 0;
        }
        .cartgos::before{
            width: 30px;
            width: 30px;
            height: 30px;
            top: -15px;
        }
        .cart-rwo{
            height: 30px;
        }
        .cart-rwo label img{
            width: 10px;
            height: auto;
            margin-right: 0px;
        }
        .cart-rwo a label span{
            font-size: 13px;
            font-weight: 500;
        }
        .cartgos .cart-rwo a label{
            width: 100px;
        }
       .logo img{
        width: 55px;
        height: 40px;
       }
       nav ul li{
        font-size: 12px;
       }
       nav ul .nav-link-hover,
       nav ul li:hover{
        font-size: 13px;
       }
       nav ul img{
        width: 10px;
        height: 7px;
       }
       .search input{
        width: 120px;
        height: 30px;
        padding: 0% 25%;
       }
       .search input::placeholder{
        font-size: 12px;
        line-height: 20px;
       }
       nav  button img{
        width: 10px;
        height: 10px;
       }
       .nav-image img{
        width: 16px;
        height: 16px;
       }
       .mes-box{
        height: 500px;
       }
       .mes-box h1{
         font-size: 15px;
       }
       .mes-box p{
          font-size: 12px;
       }
       .mes-box input{
         height: 13%;
       }
       .mes-box textarea{
        height: 25%;
       }
       .mes-box-out{
        width: 400px;
       }

       /* header section */
        header{
            width: 100%;
            padding:0% 5% ;
            height: 300px;
        }
        header .header-desc{
            width: 45%;
        }
        header .header-desc h1{
            font-size: 35px;
            line-height: 48px;
        }
        header .header-desc p{
            font-size: 16px;
            line-height: 26px;
            margin-top: -35px;
        }
        header .header-desc .cta12 button{
            width: 100px;
            height: 40px;
            font-size: 12px;
        }
        header .header-desc .cta12 button:hover{
            width: 105px;
            height:45px;
        }
        header .header-desc .cta12 .exp img{
            width: 20px;
            height: 20px;
        }
        .header-ill img {
            width: 70%;
            height: 80%;
        }
        .scall-botm{
            width: 152px;
            height: 50px;
            left: 20%;
        }
        .scall-top{
            width: 152px;
            height: 50px;
            left: 10%;
        }
        .scall-top span h1,
        .scall-botm span h1{
            font-size: 1px;
            line-height: 15px;
        }
        .scall-top span h2,
        .scall-botm span h2{
            font-size: 0.6951px;
            line-height: 10px; 
        }
        .header-icon{
            width: 55px;
            height: 55px;
            font-weight: 700;
            font-size: 18.5138px;
            position: absolute;
            left: -30%;
        }
        .header-icon img{
            width: 50%;
            height: 50%;
        }
       .structure{
        width: 90%;
        height: 90px;
        border-radius: 20px;
       }
       .structure-cont{
        gap: 14px;
        width: 200px;
        height: 58px;    
        }
        .structure img{
            width: 35.53px;
            height: 35.53px;
        }
        
        .structure-cont-wright h1{
            font-size: 19px;
            line-height: 16px;
        }
        .structure-cont-wright h2{
            font-size: 14px;
            line-height: 16px;  
        }
            
        .slide{
            margin-top: 40px;
            margin-bottom: 40px;
            width: 90%;
            height: 120px;
            border-radius: 20px;
        }
        
        .slide img{
            cursor: pointer;
            width: 70px;
            height: 70px;
        }
        .slide .product{
            width:fit-content;
            height: 100px;
        }
        .display-slide img{
            width: 90px;
            height: 90px;
        }
        .top-slide{
            margin: 0;
        }
        .display-slide span{
            width: 90px;
            height: 90px;
            font-size: 20px;
            left: 0%;
        }
        .heardeing{
            font-size: 30px;
            margin:0px 0;
            height: 80px;
        }
        /* top sale section*/
        .top-sales-slide-show{
            width: 95%;
        }
        
        
        .image{
            position: relative;
            width: 40%;
            height: 100%;
            
        }
        .top-sale-img{
            animation: top-sale-img 1s ease-in-out;
            
        }
        .image img{
            width: 100%;
            height: 100%;
        }
        .top-sales{
            padding: 20px 30px;
            width: 100%;
            height: 325px;
        }
        .top-sales .top-sales-wright{
            width: 50%;
        }
        .top-sales .top-sales-wright h1{
            font-size: 26px;
            line-height: 34px;
        }
        .top-sales .top-sales-wright span{
            font-size: 12px; 
        }
        .top-sales .top-sales-wright h2{
            font-size: 38px;      
        }
        .top-sales .top-sales-wright button{
            width: 257px;
            height: 42px;
            font-size: 12px; 
        }
        .doting{
            width: 100PX;
            bottom: 17px;
        }
        .dot{
            width: 13px;
            height: 13px;
            border: 2px solid #1e06d3;
        }
       
        .display{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 268px;
            overflow: hidden;
            border-radius: 10px;
            margin-left: 1%;
            margin-right:1% ;
        }
        .display-dic{
            width: 100%;
            padding: 10px;
        }
        
        .display-dic span h2{
            font-size: 20px;
            font-weight: 400px;
        }
        .display .img{
            height: 240px;
        }
       .display-dic img{
        width: 20px;
        height: auto;
       }
        .display-dic h1{
            margin-top: 5px;
            font-size: 22px;
            font-weight: 500;
        }
        .buy-now,
        .add-to-cart{
            height: 40px;
            font-size: 12px;
        }
        @keyframes add{
            0%{
                transform: translateX(-100%);
            }
        }
        .filter{
            width: 100%;
        }
        .bramd{
            width: 90%;
            display: flex;
            gap: 3%;
        }
        .bramd a img{
            width: 120px;
            height: 120px;
        }

        /* be a sales person*/
        .sele-product{
            width: 95%;
            left: -100%;
            height: 400px;
        }
        .sele-product img{
            width: 50%;
            height: auto;
        }
        .sele-product .sele-product-wright h1{
            font-weight: 600;
            font-size: 22px;
            line-height: 35px;
        }
        .sele-product .sele-product-wright span{
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
        }
        .sele-product .sele-product-wright button{
           width: 120px;
           height: 42px;
           font-size: 12px;
        }

        /*seller position*/

        .profile-comp{
            width: 226.07px
          }
          .profile-img img{
            width: 226.07;
            height: 200.21px;
            opacity: 1;
          }
       
        .seller-position .profile{
           
            padding: 10px;
            width: 226.07px;
            height: 210.21px;
           
        }
        .seller-position .profile-comp .profile h1{
           
            font-size: 12px;
            line-height: 100.5%;
           
        }
        .seller-position .profile-comp .profile h2{
            width: 149.4px;
           
            font-size: 10px;
            line-height: 100.5%;
          
        }
        .seller-position .profile-comp .profile p{
           
            font-size: 12px;
            line-height: 100.5%;
          
        }
        
        /* footer section */

        footer{
            width: 100%;
            height: 500px;
        }
        .footer-colum h3{
            margin-bottom: 5px;
            font-size: 16px;
            line-height: 24.8px;
        }
        footer ul a{
            font-size: 12px;
            line-height: 15px;
            margin-top: 5px;
        }
        footer ul a h1{
        font-size: 16px;
        line-height:26.8px ;
        margin-top: 2px;
        margin-bottom: 4px;
        }
        .footer-down{
            margin-left: 5%;
        }
        .footer-down h1{
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 19px;
        }
        .subscribe input{
            width:400px ;
            height: 42px;
            font-size: 14px;
            padding: 0px 10px;
        }
        .subscribe button{
            height: 42px;
            width: 86px;
            font-size: 12px;
        }
        .app-down img{
            margin-left: 8px;
            margin-right: 10px;
            width: 120px;
            height: auto;
        }
    }
@media screen and (max-width :900px ) {
       .conttent-head{
        width: 100%;
       }

       nav{
        width: 100%;
        padding: 1.5% 4%;
       }
       nav ul{
        width: 35%;
       }
       .categories-cont{
        width: 350px;
        padding: 10px;
        height: 100px;
       }
       .categories-cont::-webkit-scrollbar{
        width: 20px;
       }
       .categories-cont::-webkit-scrollbar-track{
        background-color:transparent;
        border-radius: 200px;
        border: 10px solid #fcfcfd;
        }
        .categories-cont::-webkit-scrollbar-thumb{
            background-color: #1e06d3;
            border-radius: 1000px;
            border: 9px solid #fcfcfd;
        }

        .cartgos{
            top: 100px;
            left:25%;
            padding: 0;
        }
        .cartgos::before{
            width: 30px;
            width: 30px;
            height: 30px;
            top: -15px;
        }
        .cart-rwo{
            height: 30px;
        }
        .cart-rwo label img{
            width: 10px;
            height: auto;
            margin-right: 0px;
        }
        .cart-rwo a label span{
            font-size: 13px;
            font-weight: 500;
        }
        .cartgos .cart-rwo a label{
            width: 100px;
        }
       .logo img{
        width: 55px;
        height: 40px;
       }
       nav ul li{
        font-size: 12px;
       }
       nav ul .nav-link-hover,
       nav ul li:hover{
        font-size: 13px;
       }
       nav ul img{
        width: 10px;
        height: 7px;
       }
       .search input{
        width: 120px;
        height: 30px;
        padding: 0% 25%;
       }
       .search input::placeholder{
        font-size: 12px;
        line-height: 20px;
       }
       nav  button img{
        width: 10px;
        height: 10px;
       }
       .nav-image img{
        width: 16px;
        height: 16px;
       }


       /* header section */
        header{
            width: 100%;
            padding:0% 5% ;
            height: 300px;
        }
        header .header-desc{
            width: 45%;
        }
        header .header-desc h1{
            font-size: 35px;
            line-height: 48px;
        }
        header .header-desc p{
            font-size: 16px;
            line-height: 26px;
            margin-top: -35px;
        }
        header .header-desc .cta12 button{
            width: 100px;
            height: 40px;
            font-size: 12px;
        }
        header .header-desc .cta12 button:hover{
            width: 105px;
            height:45px;
        }
        header .header-desc .cta12 .exp img{
            width: 20px;
            height: 20px;
        }
        .header-ill img {
            width: 70%;
            height: 80%;
        }
        .scall-botm{
            width: 152px;
            height: 50px;
            left: 20%;
        }
        .scall-top{
            width: 152px;
            height: 50px;
            left: 10%;
        }
        .scall-top span h1,
        .scall-botm span h1{
            font-size: 1px;
            line-height: 15px;
        }
        .scall-top span h2,
        .scall-botm span h2{
            font-size: 0.6951px;
            line-height: 10px; 
        }
        .header-icon{
            width: 55px;
            height: 55px;
            font-weight: 700;
            font-size: 18.5138px;
            position: absolute;
            left: -30%;
        }
        .header-icon img{
            width: 50%;
            height: 50%;
        }
       .structure{
        width: 90%;
        height: 90px;
        border-radius: 20px;
       }
       .structure-cont{
        gap: 14px;
        width: 200px;
        height: 58px;    
        }
        .structure img{
            width: 35.53px;
            height: 35.53px;
        }
        
        .structure-cont-wright h1{
            font-size: 19px;
            line-height: 16px;
        }
        .structure-cont-wright h2{
            font-size: 14px;
            line-height: 16px;  
        }
            
        .slide{
            margin-top: 40px;
            margin-bottom: 40px;
            width: 90%;
            height: 120px;
            border-radius: 20px;
        }
        
        .slide img{
            cursor: pointer;
            width: 70px;
            height: 70px;
        }
        .slide .product{
            width:fit-content;
            height: 100px;
        }
        .display-slide img{
            width: 90px;
            height: 90px;
        }
        .top-slide{
            margin: 0;
        }
        .display-slide span{
            width: 90px;
            height: 90px;
            font-size: 20px;
            left: 0%;
        }
        .heardeing{
            font-size: 30px;
            margin:0px 0;
            height: 80px;
        }
        /* top sale section*/
        .top-sales-slide-show{
            width: 95%;
        }
        
        
        .image{
            position: relative;
            width: 40%;
            height: 100%;
            
        }
        .top-sale-img{
            animation: top-sale-img 1s ease-in-out;
            
        }
        .image img{
            width: 100%;
            height: 100%;
        }
        .top-sales{
            padding: 20px 30px;
            width: 100%;
            height: 325px;
        }
        .top-sales .top-sales-wright{
            width: 50%;
        }
        .top-sales .top-sales-wright h1{
            font-size: 26px;
            line-height: 34px;
        }
        .top-sales .top-sales-wright span{
            font-size: 12px; 
        }
        .top-sales .top-sales-wright h2{
            font-size: 38px;      
        }
        .top-sales .top-sales-wright button{
            width: 257px;
            height: 42px;
            font-size: 12px; 
        }
        .doting{
            width: 100PX;
            bottom: 17px;
        }
        .dot{
            width: 13px;
            height: 13px;
            border: 2px solid #1e06d3;
        }
       
        .display{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 225px;
            overflow: hidden;
            border-radius: 10px;
            margin-left: 1%;
            margin-right:1% ;
        }
        .display-dic{
            width: 100%;
            padding: 10px;
        }
        
        .display-dic span h2{
            font-size: 20px;
            font-weight: 400px;
        }
        .display .img{
            height: 240px;
        }
       .display-dic img{
        width: 20px;
        height: auto;
       }
        .display-dic h1{
            margin-top: 5px;
            font-size: 22px;
            font-weight: 500;
        }
        .buy-now,
        .add-to-cart{
            height: 40px;
            font-size: 12px;
        }
        @keyframes add{
            0%{
                transform: translateX(-100%);
            }
        }
        .filter{
            width: 100%;
        }
        .bramd{
            width: 90%;
            display: flex;
            gap: 3%;
        }
        .bramd a img{
            width: 120px;
            height: 120px;
        }

        /* be a sales person*/
        .sele-product{
            width: 95%;
            left: -100%;
            height: 400px;
        }
        .sele-product img{
            width: 50%;
            height: auto;
        }
        .sele-product .sele-product-wright h1{
            font-weight: 600;
            font-size: 22px;
            line-height: 35px;
        }
        .sele-product .sele-product-wright span{
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
        }
        .sele-product .sele-product-wright button{
           width: 120px;
           height: 42px;
           font-size: 12px;
        }

        /*seller position*/

        .profile-comp{
            width: 226.07px
          }
          .profile-img img{
            width: 226.07;
            height: 200.21px;
            opacity: 1;
          }
       
        .seller-position .profile{
           
            padding: 10px;
            width: 226.07px;
            height: 210.21px;
           
        }
        .seller-position .profile-comp .profile h1{
           
            font-size: 12px;
            line-height: 100.5%;
           
        }
        .seller-position .profile-comp .profile h2{
            width: 149.4px;
           
            font-size: 10px;
            line-height: 100.5%;
          
        }
        .seller-position .profile-comp .profile p{
           
            font-size: 12px;
            line-height: 100.5%;
          
        }
        
        /* footer section */

        footer{
            width: 100%;
            height: 500px;
        }
        .footer-colum h3{
            margin-bottom: 5px;
            font-size: 16px;
            line-height: 24.8px;
        }
        footer ul a{
            font-size: 12px;
            line-height: 15px;
            margin-top: 5px;
        }
        footer ul a h1{
        font-size: 16px;
        line-height:26.8px ;
        margin-top: 2px;
        margin-bottom: 4px;
        }
        .footer-down{
            margin-left: 5%;
        }
        .footer-down h1{
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 19px;
        }
        .subscribe input{
            width:400px ;
            height: 42px;
            font-size: 14px;
            padding: 0px 10px;
        }
        .subscribe button{
            height: 42px;
            width: 86px;
            font-size: 12px;
        }
        .app-down img{
            margin-left: 8px;
            margin-right: 10px;
            width: 120px;
            height: auto;
        }
    }
@media screen and (max-width :720px) {
    .dis-row{
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0%;
        padding: 0% 0%;
    }
    .display{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 224px;
        overflow: hidden;
        border-radius: 10px;
        margin-left: 1%;
        margin-right:1% ;
    }
    .display .img{
        height: 210px;
    }
}