@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    cursor: context-menu;
}
button{
    cursor: pointer;
}
body{
    min-width:1512px;
    display: flex;
    flex-direction: row;
    background-color: #f2f3ff;
    justify-content: center;
}
.navegation{
    position:sticky;
    width: 280px;
    height: 983px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 100%;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
}
.navegation nav{
  width:232px;
  height:368px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 46px;
  margin-bottom: 104px;
}
.navegation .nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.navegation nav ul{
    width:232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 368px;
}
.nav ul li button{
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: left;
    height: 48px;
    align-items:center;
    padding: 0px 30px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height:16px ;
    letter-spacing: -0.02em;
    position: relative;
}
.nav li button img{
    margin-right: 20px;
    width: 20px;
    height: 19.77px;
}
.nav li button:hover,
.active{
    background-color: #f2f3ff;
    border-radius: 5px;
}
#no-message{
    position: absolute;
    height: 20px;
    padding: 2px 2px;
    padding-right: 4px;
    right: 10px;
    text-align: center;
    background-color: #1c00ff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.nav-des{
    width: 189px;
    background-color: #1c00ff;
    position: relative;
    border-radius: 20px;
    height: 157.5px;
    color: #ffffff;
    padding: 55px 20px;
    text-align: center;
    margin-top: 40px;
}
.nav-des-logo{
    width:78px ;
    height: 78px;
    background-color: black;
    border-radius:50% ;
    border: 7px solid #ffffff;
    top: -50px;
    left: 29%;
    position: absolute;
}
.nav-des h2{
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
}
.nav-des p{
    font-size: 12px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #e9edf7;
}
.cont{
    position: relative;
    width: 1230px;
    min-height: 100vh;
}
.cont nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 2px;
    align-items: center;
    background-color: #ffffff;
    height: 93px;
}
.cont nav ul{
    display: flex;   
}
.cont nav ul button{
  border: none;
  width:81px ;
  height: 60px;
  background-color:#e9edf7 ;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
 .cont nav ul .btn-act{
    width:83px ;
    background-color: #1c00ff;
    color: #ffffff;
    font-weight: 600;
}
.cont nav ul button:nth-child(1){
    border-radius: 5px 0px 0px 5px;
}
.cont nav ul button:nth-child(3){
    border-radius: 0px 5px 5px 0px;
}
.search{
    position: relative;
    display: flex;
    align-items: center;
    width: 374px;
    justify-content: space-between;
    height: 60px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 0px 10px;
}
.search input{
    width: 214px;
    height: 40.33px;
    outline: none;
    border-radius: 5px;
    background-color: #f4f7fe;
    border: none;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 400;
    color: #8f9bba;
    padding: 0PX 40PX;
}
.search input::placeholder{
    color: #8f9bba;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 400;
}
.search-icon{
    position: absolute;
    left: 30px;
}
.search button{
    border: none;
    width: 65px;
    height: 31px;
    background-color: #E0E0E0;
    border-radius: 20px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    outline: none;
}
.search button img{
    position: relative;
    z-index: 10;
}
.before{
    content: "";
    width: 32px;
    height: 25px;
    border-radius: 50px;
    background-color: #ffffff;
    position: absolute;
    transform: translateX(-7px);
}
.atare{
    transform: translateX(20px);
}
.alarm{
    margin-right: 30px;
}
.user{
    width: 274px;
    height: 60px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 0px 10px;
}
.user img{
    width: 40px;
    height: 40px;
    margin-right: 20px;   
}
.user span{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.maine-dash-board{
    position: relative;
    width: 100%;
    height: 850px;
    overflow-x: hidden;
    overflow-y:scroll;
    scroll-behavior: smooth;
}
.maine-dash-board::-webkit-scrollbar{
   width: 8px;
}
.maine-dash-board::-webkit-scrollbar-track{
    background-color:#ececec ;
    border-radius: 50px;
    margin-block:1px ;
}
.maine-dash-board::-webkit-scrollbar-thumb{
   background-color: #1c00ff;
   border: 1px solid #ececec;
   border-radius: 50px;
}
@supports(scrollbar-color:#1c00ff #ececec){
  *{
    scrollbar-color:#1c00ff #ececec ;
    scrollbar-width: thin;
  }
}
.home{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.left{
    width:745px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right{
    width: 375px;
    display: flex;
    flex-direction: column;
}
.top-move{
    animation:top_move 1s ease forwards ;
}
@keyframes top_move{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0%);
    }
}
.top{
    width: 745px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.frame-one{
    width: 227px;
    height: 232px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
}
.top-dic{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.top-dic img{
    margin-right: 15px;
   
}
.top-dic h2{ 
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   letter-spacing: -0.02em;
   color: #bdbdbd;
}
.frame-one span{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.frame-one span h1{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.total-seles,
.total-cost{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.line-area-chart{
    width: 745px;
    height:427px;
    border-radius: 20px;
    background-color:#ffffff;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
}
.info{
    width: 745px;
    position: relative;
    padding: 0px 20px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #f0f0f0;
}
.left-move{
    animation:left_move 1s ease forwards ;
}
@keyframes left_move{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}
.area-chart-dic{
    display: flex;
    flex-direction: column;
}
.area-chart-dic h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.area-chart-dic span{
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}
.area-chart-dic p{
    font-weight: 400;
    color: #4f4f4f;
    font-size: 12px;
    line-height: 15px;
}
.info img{
    position: absolute;
    top: 0;
    right: 20px;
}
.area-chart-space{
    height: 277px;
    width: 745px;
    padding: 0px 20px;
    padding-top: 20px;
}
.btom-move{
    animation:btom_move 1s ease forwards ;
}
@keyframes btom_move{
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0%);
    }
}
.oders-frame{
    width: 745px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px 40px;
    transition: 1s ease-in-out;
}
.oders-frame h1{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;

}
.div{
    padding-bottom: 5px;
    border-bottom: 1px solid #E6E6E6;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.row span:nth-child(1){
    width: 25%;
    margin-top: 10px;
    margin-bottom: 2.4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
}
.row span{
    text-align: center;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 2.4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.row span h1{
    font-weight: 400;
    color: #818181;
    font-size: 12px;
    line-height: 15px;
}
.row span h2{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;    
}
.lent .completed,
.row span .sent{
    border: none;
    width: 90px;
    height: 30px;
    background: #A7FFA7;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #20B31C;
}
.lent .canceled,
.row span .not-sent{
    border: none;
    width: 90px;
    height: 30px;
    background: #ffcdcd;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color:#f31510;
}
.lent .pending,
.row span .pending{
    border: none;
    width: 90px;
    height: 30px;
    background: #f2f3ff;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color:#1c00ff;
}
.right{
    margin-top: 40px;
}
.right-move-one{
    animation:move-one .5s ease forwards ;
}
@keyframes move-one{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}
.frame-two{
    width: 375px;
    height: 241px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.frame-two .top{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
}
.frame-two .top span{
    margin-right: 100px;
}
.frame-two .top span h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    }
.frame-two .top span h3{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #BDBDBD;
}
.current-row{
    width: 100%;
}
.current-row span{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;

}
.current-row span h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #000000;    
}
.current-row span h3{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #D3D3D3;
}
.current-row span h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}
.current-row span h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #000000;
}
.current-row aside{
    margin-bottom: 15px;
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.current-row aside h4{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #AAAAAA;
}
.butm{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}
.butm h1{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #BDBDBD;
}
.butm span{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
}
.right-move-two{
    animation:move-two .8s ease forwards ;
}
@keyframes move-two{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}
.frame-three{
    width: 100%;
    height: 388px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.frame-three .top{
    width: 100%;
    margin-top: 0;
}
.frame-three .top span{
    width: 335px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
}

.frame-three .top span h1{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #000000;
}
.frame-three .top span h2{
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #D3D3D3;
}
.product-pie-chart{
    height:280px ;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.frame-three .bom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.frame-three .bom span{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
}
.frame-three .bom h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #BDBDBD;
}
.right-move-three{
    animation:move-three 1.2s ease forwards ;
}

@keyframes move-three{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}
.frame-four{
    width: 375px;
   min-height: 257px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.frame-four .top{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}
.frame-four .top h1{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    width: 143.57px;   
}
.frame-four .top span{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50px;
}
.frame-four .top span  h1{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    text-align: center;
}
.ordered-product-row{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}
.frame-four h1{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin:10px;
    text-align: left;
    width: 100%;
}
.ordered-product-row{
    margin-top: 20px;
}
.ordered-product-row img{
    margin-right: 20px;
}

.img-info h1{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
}
.img-info h3{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #9B9B9B;
    
}
.tops{
    margin-top: 40px;
}
.slide-nav{
height: 241px;
width:75px ;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
#move-right{
    width: 71px;
    height: 80px;
    cursor: pointer;
}
#move-left{
    transform: rotate(180deg);
    width: 71px;
    height: 80px;
    cursor: pointer;
}
.product-slide{
    width: 550px;
   height: 241px;
   display: flex;
   align-items: flex-end;
   position: relative;
   overflow-x: hidden;
}
.product-conts-slide{
 position: relative;
}
.contect{
    width: 247px;
    height: 176px;    
    background: #FFFFFF;
    box-shadow: 0px 8.57664px 18.0109px rgba(218, 215, 242, 0.25);
    border-radius: 17.1533px;
    position: relative;
    justify-content: end;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.product-frame{
    margin-left: 20px;
   
}

.shak-img{
    animation: shak_img 3s ease forwards;
}
@keyframes shak_img{
    0%{
        transform: rotate(-90deg);
    }
    10%{
        transform: rotate(90deg);
    }
    20%{
        transform: rotate(-75deg);
    }
    30%{
        transform: rotate(75deg);
    }
    40%{
        transform: rotate(-60deg);
    }
    50%{
        transform: rotate(60deg);
    }
    60%{
        transform: rotate(-35deg);
    }
    70%{
        transform: rotate(35deg);
    }
}
.product-img-div{
    position: absolute;
    width: 147.52px;
    height: 153.52px;
    left: 15.72px;
    top: -45px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-frame span{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-frame span h1{
    font-weight: 700;
    font-size: 14.1958px;
    line-height: 17px;
    color: #000000;    
}
.product-frame span h2{
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #A3A3A3;    
}
.add-more{
    height: 241px;
    width: 84px;
    background: #FFFFFF;
    box-shadow: 0px 8.57664px 18.0109px rgba(218, 215, 242, 0.25);
    border-radius: 10000px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recently-sold{
    margin-top: 40px;
    width: 745px;
    min-height: 115px;
    padding: 20px 35px;
    background: #FFFFFF;
    box-shadow: 0px 10px 21px rgba(218, 215, 242, 0.25);
    border-radius: 20px;
}
.recently-sold h1{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #000000;   
    margin-top: 20px;
    margin-bottom: 20px; 
}
.line{  
    border-bottom: 1px solid #E6E6E6;
}
.recent-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
    padding-bottom: 10px;
}
.first-lent{
    width: 30%;
    text-align: left;
}
.lent{
    width: 17%;
    align-items: center;
    text-align: center;
}
.first-lent span,
.lent span{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #000000;    
}
.first-content{
    display: flex;
    align-items: center;
}
.first-content img{
    margin-right: 10px;
}
.small-item-info{
    display: flex;
    flex-direction: column;
}
.small-item-info .small-item-name{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #B1B1B1;
}
.small-item-info .small-item-price{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.lent span h1{
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize; 
    color: #000000;    
}
