@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.logo img{
    width: 69.49px;
    height: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-bottom: 2%;
   width: 1134px;
   padding: 1.5% 0%;
   position: relative;
}
nav ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    list-style: none;
}
nav ul li{
 color: black;
 font-size: 18px;
}
nav ul li:hover{
    color: #1C00FF;
    font-size: 20px;
}
.search{
    position: relative;
}
.search input{
    width:205px ;
    height: 50px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
    color: #b4b4b4;
    padding: 0% 30%;
}
.search input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #a3a3a3;
    align-items: center;
    line-height: 24px;
}
.search button{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 10%;
    bottom: 0;
    top: 0;

}
.user-log{
    position: absolute;
    z-index: 100000;
    background-color: #ffffff;
    top: 120%;
    right: 0;
    box-shadow:2px 1px 10px 2px #969697 ;
    border-radius: 10px;
    animation: up .5s ease forwards;
}
.user-dit{
    width: 270px;
    height: 357px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

}
@keyframes up{
    0%{
        transform: translateY(-15%);
    }
}
#user{
    margin-left: 1vw;
    height: 100%;
    width: 25%;
    padding: 22px;
    cursor: pointer;
}
.note{
    display: block;
background-color: black;

}
.boder-dawn{
    border: none;
    border-bottom: 1px solid #a3a3a3;
    border-radius: 0;
    width: 100%;
    align-items:center;
    display: flex;
    flex-direction:column;
    padding-bottom: 10px;
    position: relative;
}
.boder-dawn img:first-child{
   width: 40px;
   height: 40px;
}


.rotate{
    transform: rotate(180deg);
    padding: 10px;
    margin-left: 20%;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.preferred-dit-store-name{
    display: flex;
    flex-direction: column;
}   
.preferred-dit-store-name h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* identical to box height, or 125% */
    color: #000000;
    margin-top: 4px;
    letter-spacing: -0.02em;
    
}
.user-dit a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.dit-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px; 
    width: 80%;
    cursor: pointer;
}
.dit-row img{
    width: 16px;
    height: 18px;
    cursor: pointer;
    margin-right: 10%;
}
.dit-row p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.02em;
    color: #7A7A7A;
    cursor: pointer;
}
.dit-row:last-child{
    margin-top: 40px;
}
.nav-image{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-image{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-img{
    width: 26.67px;
    height: 29px;
}
.nav-img-sec-child{
    width: 22px;
    height: 26px;
}
.categories-cont{
    width: 500px;
    height: 180px;
    padding: 20px;
    overflow-y: scroll;
}
.categories-cont::-webkit-scrollbar{
    width: 40px;
}
.categories-cont::-webkit-scrollbar-track{
    background-color:transparent;
    border-radius: 200px;
    border: 18px solid #fcfcfd;
}
.categories-cont::-webkit-scrollbar-thumb{
    background-color: #1e06d3;
    border-radius: 1000px;
    border: 19px solid #fcfcfd;
}
.cartgos{
    position: absolute;
    background-color:#fcfcfd;
    z-index: 1;
    top: 110px;
    left:350px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: 3s ease-in-out;
    display: none;
    animation: 2s cartgos ease-in-out;
}
@keyframes cartgos{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
}
.li-cart:hover .cartgos{
   transform: translateY(0%);
   opacity: 1;
   display: block;
}

.cartgos::before{
   background-color:#fcfcfd;
   z-index: 10;
   content: "";
   width: 50px;
   height: 50px;
   border-radius: 5px;
   position: absolute;
   transform: rotate(45deg);
   top: -25px;
   left: 70px;
}
.cart-rwo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    justify-content: space-between;
}
.cart-rwo label img{
    width: 20px;
    margin-right: 20px;
}
.cartgos .cart-rwo a label{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    cursor: pointer;
}
.cart-rwo a label span{
    font-size: 19px;
    text-transform: capitalize;
    color: #1e06d3;
    font-weight: 500;
}
/* cart-section-style*/
.cart-section{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    border-radius: 20px;
    width: fit-content;
}
 h5{
    font-size: 16px;
    color: #1c00ff;
    line-height: 19px;
    font-weight: 400;
    margin-top: 10px;
    width:1134px;
    margin-left: 1%;
}

 h5 a{
    color: black;
}
.cart{
    background-color: #ffffff;
    width: 767px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    position: relative;
}
.cart-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 127px;
    padding: 10px 20px;
    margin-top: 5px;
}
.cart-row::after{
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    background-color: #e3e3e3;
    bottom: 0;
    left: 25px;
}
.cart-row:last-child::after{
    display: none;
}
.discription{
    display: flex;
    width: 300px;   
}
.item-image{
  width: 87px;
  height: 87px;
  border-radius: 5px;
}
.item-name-price{
    width: 60%;
    margin-left:4% ;
    display: flex;
    flex-direction: column;
}
.item-name{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
.item-price{
    font-size:20px;
    font-weight: 500;
}
.item-number{
    display: flex;
    align-items:flex-start;
    border:1px solid #c4c4c4;
    height: min-content;
    width: 90px;
}
.item-number img{
width: 30px;
height: 30px;
display: none;
}
.item-number input{
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 24px;
}
.item-quary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:80%;
    align-items: flex-end;
}
.item-quary img{
    width: 24px;
    height: 24px;
}
.item-quary button{
    border: 1px solid #1c00ff;
    width: 93px;
    height: 31px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    flex-direction: row;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #1c00ff;
    font-family:'inter';
}
.sum-totale{
    display: flex;
    width:364px ;
    height: 429px;
    border-radius: 0px 20px 20px 0px;
    background-color: #f6f7ff;
    flex-direction: column;
    padding: 30px 60px;
    position: relative;
}
.sum-totale h1{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.sum-totale .spam{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 15px;
    border-bottom:1px solid #e3e3e3;
    font-size: 18px;
    font-weight: 400px;
}
.sum-totale h2{
    font-size: 18px;
    font-weight: 500px;
}
.sum-totale span{
    font-size: 11.3px;
    font-weight: 400;
    color: black;
}
.proceed{
    background-color: #1c00ff;
    width: 100%;
    height: 41px;
    border-radius: 5.32px; 
    border: none;
    margin-top: 30px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.cart-policies{
    width: 1128px;
    border-bottom:1px solid #c4c4c4 ;
    border-top:1px solid #c4c4c4 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 62px;
    align-items: center;
    margin-top: 80px;
    padding:0px 15px ;
}
.cart-policies h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    font-family: 'inter';
}
.related-products{
    margin-top: 150px;
    width: 1134px;
    position: relative;
    display: none;
}
.related-products h1{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 120px;
}
.related-products h5{
    position: absolute;
    right: 0;
    width: 90px;
    top: 130px;
    display: none;
}
.checkout-body{
    align-items: center;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    background-color: #e5e5e5;
}
.payment-frunt{
    display: flex;
}
.radio label{
    align-items: center;
    display: flex;
}
.pay-row .radio input{
    margin-left: 40px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    accent-color: #1c00ff;
    color: #1c00ff;
}

.payment-type{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px 0px 0px 20px;
    height: 765;
}
.payment-type h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #1c00ff;
    margin-top: 15px;
    margin-bottom: 20px;
}
.new-sum-totale{
    width:364px ;
    height: 765px;
}
.new{
    color: #1c00ff;
    text-align:right;
    align-items: flex-end;
    display: flex;
    width: 100%;
}
.pay-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
fieldset{
    border: none;
    margin-top: 30px;
}
legend{
    font-size: 20px;
    line-height: 27.28px;
    font-weight: 600;
    margin-bottom: 5px;
}
form{
  display: flex;
  flex-direction: column;
  position: relative;
  
  width: 100%;
}
form input{
   width: 558px;
   height: 60px;
   border: 1px solid #c4c4c4;
   outline: none; 
   border-radius: 10px;
   margin-top: 15px;
   color: black;
   font-size:16px;
   padding: 0px 20px;
}
form input::placeholder{
    font-size: 16px;
    font-weight: 400px;
    line-height: 19px;
    color: #8a8989;
}
.pay-row input{
    width:266px ;
}
.pay-type-img,
.select-pay{
    position: absolute;
    top: 112px;
    right: 25px;
}
.pay-type-img{
    right: 45px;
}
fieldset p{
    margin-top: 13px;
    width: 364px;
    font-size: 18px;
    color: #c4c4c4;
    line-height: 25px;
    font-weight: 600px;
}
.pay-row button{
    border-radius:5px ;
    width: 157px;
    height: 52px;
    margin-top: 140px;
}
.back{
    border: 1px solid #1c00ff;
    color: #1c00ff;
    font-size:16px ;
    font-weight: 500px;
    line-height: 24px;
    background-color: #ffffff;
}
.proceed-alart{
    border: none;
    background-color: #1c00ff;
    color: #ffffff;
    font-size:16px ;
    font-weight: 500px;
    line-height: 24px;
}
.alart{
    width: 659px;
    height: 414px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 60px 60px;
    align-items: center;
    position: absolute;
    box-shadow: 0px 0px 90px 0px #b7b5b5;
    overflow: hidden;
    display: none;
}

.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{
        transform: scale(70%);
    }
    50%{
        transform: scale(60%);
    }
    100%{
        transform: scale(100%);
    }
}
@-moz-keyframes show_slide {
    0%{
        transform: scale(70%);
    }
    50%{
        transform: scale(60%);
    }
    100%{
        transform: scale(100%);
    }
}
.alart h3{
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #323232;
    font-weight: 400;
}
.alart .btn{
    margin-top: 100px;
}
.alart button{
    width: 509px;
    height:47.21px ;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
}
.proceed-pay{
    color: #ffffff;
    background-color: #1c00ff;
    border: none;
}
.cancle-pay{
    background-color: #ffffff;
    color: #1c00ff;
    border: 1px solid #1c00ff;
}
.footer{
    width: 100%;
    background-color:#030710;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
footer{
width: 1310px;
height: 612px;
background-color: #030710;
padding: 70px 20px;
}
footer ul{
    list-style: none;
    margin-left: 5px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-colum h3{
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400px;
    line-height: 34.8px;
    margin-top: 20px;
}
footer ul a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 2px;
}
footer ul a h1{
font-size: 24px;
line-height:36.8px ;
margin-top: 6px;
margin-bottom: 7px;
font-weight:300;
}
.socials{
display: flex;
justify-content: space-between;
margin-top: 13px;
}
.footer-down{
    display: flex;
    justify-content: space-between;
    margin-left: 320px;
    margin-top: 30px;
}
.footer-down h1{
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.subscribe h1{
    text-align: center;
}
.subscribe input{
    width:545px ;
    height: 52px;
    background-color: #ffffff;
    outline: none;
    border: none;
    color: black;
    font-size: 18px;
    padding: 0px 20px;
}
.subscribe input::placeholder{
color: #a3a3a3;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
}
.subscribe button{
    height: 52px;
    border: none;
    position: absolute;
    width: 126px;
    background-color: #1c00ff;
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    
}
.app-down{
    display: flex;
    flex-direction: column;
}
.app-down img{
    margin-left: 15px;
}



/* related product design*/


.related-product h5{
    font-size: 60px;
    width: 1134px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 400;
  }
  .dis-row{
    flex-wrap: wrap;
    width: 1134px;
    display: flex;
    align-items: center;
    gap: 1.5%;
    padding: 0% 1.5%;
}
  .row{
      margin-top: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height:520px;
  }
  .display{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 355.6px;
      overflow: hidden;
      border-radius: 10px;
      min-height: 500px;
  }
  .display:hover{
      transform: translateY(1%);
  }
  .display .img{
      height: 300px;
      width: 358px;
  }
  .display-dic{
      width: 100%;
      min-height: 242px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .display-dic span{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
  }
  .display-dic span h2{
      font-size: 25px;
      font-weight: 400px;
  }
  .display-dic span li{
      align-items: center;
      justify-content: space-around;
      width: 20%;
      display: inline-flex;
  }
  .display-dic h1{
      margin-top: 10px;
      font-size: 28px;
      font-weight: 500;
  }
  .add-to-cart{
      height: 45px;
      border: none;
      background-color: #1C00FF;
      color: #ffffff;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
  }
  .add-to-cart:hover{
      background-color: #1e06d3;
  }
  .buy-now{
      background-color: #ffffff;
      height: 45px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      color: #1C00FF;
      font-weight: 600;
  }
  .buy-now:hover{
      background-color: #C4C4C4;
  }

  @media screen and (max-width :1050px ) {
    .conttent-head{
     width: 100%;
    }
    
    .view{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    nav{
     width: 100vw;
     padding: 1.5% 5%;
    }
    nav ul{
     width: 35%;
    }
    nav ul li{
     font-size: 16px;
    }
    nav ul .nav-link-hover,
    nav ul li:hover{
     font-size: 18px;
    }
    .search input{
     width: 180px;
     height: 40px;
     padding: 0% 25%;
     font-size: 12px;
    }
    .search input::placeholder{
     font-size: 12px;
     line-height: 20px;
    }
    nav  button img{
     width: 13px;
     height: 13px;
    }
    .nav-image img{
     width: 23px;
     height: 23px;
    }
    h5{
        width: 92%;
        font-size: 12px;

    }
    .cart{
        width: 630px;
    }
    .cart-row{
        height: 100px;
    }
    .discription{
        width: 200px;
    }
    .item-image{
        width: 75px;
        height: 75px;
    }
     .item-name{
        font-size: 18px;
     }
     .item-price{
        font-size: 16px;
     }
     .item-number{
        width: 70px;
     }
     .item-number img{
        width: 20px;
        height: 20px;
     }
     .item-number input{
        height: 25px;
        font-size: 19px;
     }
    .item-quary img{
        width: 19px;
        height: 19px;
    }
    .item-quary button{
        width: 80px;
        height: 25px;
        font-size: 12px;
    }
    .sum-totale{
        width: 300px;
    }
    .sum-totale h1{
        font-size: 19px;
    }
    .sum-totale .spam{
        font-size: 14px;
    }
    .sum-totale h2{
        font-size: 14px;
    }
    .sum-totale span{
        font-size: 9px;
    }
    .proceed{
        height: 36px;
        font-size: 12px;
    }
    .cart-policies{
        width: 90%;
        margin-top: 40px;
        height: 40px;
    }
    .cart-policies h3{
        font-size: 18px;
    }
    .cart-policies img{
        width: 18px;
        height: 18px;
    }
    .related-products{
        width: 100%;
        margin-top: 50px;
    }
    .related-products h1{
        font-size: 30px;
        margin-bottom: 90px;
    }
    .related-product h5{
        font-size: 30px;
        width: 100%;
        height: 100px;i
    }
    /* header section */
     
     
     .dis-row{
        width: 100%;
     }
      .display{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 300px;
         overflow: hidden;
         border-radius: 10px;
         margin-left: 1%;
         margin-right:1% ;
     }
     .sele-product{
         width: 95%;
     }
     footer{
         width: 100%;
     }
     .footer-down{
         margin-left: 7%;
     }
    }
@media screen and (max-width :915px ) {
    .conttent-head{
     width: 100%;
    }

    nav{
     width: 100%;
     padding: 1.5% 4%;
    }
    nav ul{
     width: 35%;
    }
    .categories-cont{
     width: 350px;
     padding: 10px;
     height: 100px;
    }
    .categories-cont::-webkit-scrollbar{
     width: 20px;
    }
    .categories-cont::-webkit-scrollbar-track{
     background-color:transparent;
     border-radius: 200px;
     border: 10px solid #fcfcfd;
     }
     .categories-cont::-webkit-scrollbar-thumb{
         background-color: #1e06d3;
         border-radius: 1000px;
         border: 9px solid #fcfcfd;
     }

     .cartgos{
         top: 100px;
         left:25%;
         padding: 0;
     }
     .cartgos::before{
         width: 30px;
         width: 30px;
         height: 30px;
         top: -15px;
     }
     .cart-rwo{
         height: 30px;
     }
     .cart-rwo label img{
         width: 10px;
         height: auto;
         margin-right: 0px;
     }
     .cart-rwo a label span{
         font-size: 13px;
         font-weight: 500;
     }
     .cartgos .cart-rwo a label{
         width: 100px;
     }
    .logo img{
     width: 55px;
     height: 40px;
    }
    nav ul li{
     font-size: 12px;
    }
    nav ul .nav-link-hover,
    nav ul li:hover{
     font-size: 13px;
    }
    nav ul img{
     width: 10px;
     height: 7px;
    }
    .search input{
     width: 120px;
     height: 30px;
     padding: 0% 25%;
    }
    .search input::placeholder{
     font-size: 12px;
     line-height: 20px;
    }
    nav  button img{
     width: 10px;
     height: 10px;
    }
    .nav-image img{
     width: 16px;
     height: 16px;
    }
    h5{
        width: 92%;
        font-size: 12px;

    }
    .cart{
        width: 600px;
    }
    .cart-row{
        height: 90px;
    }
    .discription{
        width: 190px;
    }
    .item-image{
        width: 70px;
        height: 70px;
    }
     .item-name{
        font-size: 16px;
     }
     .item-price{
        font-size: 12px;
     }
     .item-number{
        width: 60px;
     }
     .item-number img{
        width: 15px;
        height: 15px;
     }
     .item-number input{
        height: 20px;
        font-size: 14px;
     }
    .item-quary img{
        width: 14px;
        height: 14px;
    }
    .item-quary button{
        width: 70px;
        height: 20px;
        font-size:6%;
    }
    .sum-totale{
        width: 250px;
        padding: 10px 30px;
    }
    .sum-totale h1{
        font-size: 16px;
    }
    .sum-totale .spam{
        font-size: 12px;
    }
    .sum-totale h2{
        font-size: 12px;
    }
    .sum-totale span{
        font-size: 4px;
    }
    .proceed{
        height: 27px;
        font-size: 8px;
    }
    .cart-policies{
        width: 90%;
        margin-top: 20px;
        height: 30px;
    }
    .cart-policies h3{
        font-size: 14px;
    }
    .cart-policies img{
        width: 14px;
        height: 14px;
    }
    .related-products{
        width: 100%;
        margin-top: 40px;
    }
    .related-products h1{
        font-size: 20px;
        margin-bottom: 50px;
    }
    .related-product h5{
        font-size: 25px;
        width: 100%;
        height: 70px;i
    }

    /* header section */
     
     .display{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 268px;
         overflow: hidden;
         border-radius: 10px;
         margin-left: 1%;
         margin-right:1% ;
     }
     .display-dic{
         width: 100%;
         padding: 10px;
     }
     
     .display-dic span h2{
         font-size: 20px;
         font-weight: 400px;
     }
     .display .img{
         height: 240px;
     }
    .display-dic img{
     width: 20px;
     height: auto;
    }
     .display-dic h1{
         margin-top: 5px;
         font-size: 22px;
         font-weight: 500;
     }
     .buy-now,
     .add-to-cart{
         height: 40px;
         font-size: 12px;
     }
     @keyframes add{
         100%{
             transform: translateX(-115%);
         }
     }
     
     .bramd a img{
         width: 120px;
         height: 120px;
     }

     /* be a sales person*/

     
     /* footer section */

     footer{
         width: 100%;
         height: 500px;
     }
     .footer-colum h3{
         margin-bottom: 5px;
         font-size: 16px;
         line-height: 24.8px;
     }
     footer ul a{
         font-size: 12px;
         line-height: 15px;
         margin-top: 5px;
     }
     footer ul a h1{
     font-size: 16px;
     line-height:26.8px ;
     margin-top: 2px;
     margin-bottom: 4px;
     }
     .footer-down{
         margin-left: 5%;
     }
     .footer-down h1{
         margin-bottom: 10px;
         font-size: 16px;
         line-height: 19px;
     }
     .subscribe input{
         width:400px ;
         height: 42px;
         font-size: 14px;
         padding: 0px 10px;
     }
     .subscribe button{
         height: 42px;
         width: 86px;
         font-size: 12px;
     }
     .app-down img{
         margin-left: 8px;
         margin-right: 10px;
         width: 120px;
         height: auto;
     }
 }
@media screen and (max-width :900px ) {
    .conttent-head{
     width: 100%;
    }

    nav{
     width: 100%;
     padding: 1.5% 4%;
    }
    nav ul{
     width: 35%;
    }
    .categories-cont{
     width: 350px;
     padding: 10px;
     height: 100px;
    }
    .categories-cont::-webkit-scrollbar{
     width: 20px;
    }
    .categories-cont::-webkit-scrollbar-track{
     background-color:transparent;
     border-radius: 200px;
     border: 10px solid #fcfcfd;
     }
     .categories-cont::-webkit-scrollbar-thumb{
         background-color: #1e06d3;
         border-radius: 1000px;
         border: 9px solid #fcfcfd;
     }

     .cartgos{
         top: 100px;
         left:25%;
         padding: 0;
     }
     .cartgos::before{
         width: 30px;
         width: 30px;
         height: 30px;
         top: -15px;
     }
     .cart-rwo{
         height: 30px;
     }
     .cart-rwo label img{
         width: 10px;
         height: auto;
         margin-right: 0px;
     }
     .cart-rwo a label span{
         font-size: 13px;
         font-weight: 500;
     }
     .cartgos .cart-rwo a label{
         width: 100px;
     }
    .logo img{
     width: 55px;
     height: 40px;
    }
    nav ul li{
     font-size: 12px;
    }
    nav ul .nav-link-hover,
    nav ul li:hover{
     font-size: 13px;
    }
    nav ul img{
     width: 10px;
     height: 7px;
    }
    .search input{
     width: 120px;
     height: 30px;
     padding: 0% 25%;
    }
    .search input::placeholder{
     font-size: 12px;
     line-height: 20px;
    }
    nav  button img{
     width: 10px;
     height: 10px;
    }
    .nav-image img{
     width: 16px;
     height: 16px;
    }


    /* header section */

    h5{
        width: 92%;
        font-size: 12px;

    }
    .cart{
        width: 400px;
    }
    .cart-row{
        height: 90px;
    }
    .discription{
        width: 190px;
    }
    .item-image{
        width: 60px;
        height: 60px;
    }
     .item-name{
        font-size: 12px;
     }
     .item-price{
        font-size: 9px;
     }
     .item-number{
        width: 50px;
     }
     .item-number img{
        width: 10px;
        height: 15px;
     }
     .item-number input{
        height: 15px;
        font-size: 12px;
     }
    .item-quary img{
        width: 10px;
        height: 10px;
    }
    .item-quary button{
        width: 70px;
        height: 20px;
        font-size:3%;
    }
    .sum-totale{
        width: 250px;
        padding: 10px 30px;
        height: 350px;
    }
    .sum-totale h1{
        font-size: 16px;
    }
    .sum-totale .spam{
        font-size: 12px;
        padding-top: 10px;
        height: 50px;
    }
    .sum-totale h2{
        font-size: 12px;
    }
    .sum-totale span{
        font-size: 4px;
        display: flex;
        align-items: center;
        justify-content: right;
        text-align: right;
    }
    .proceed{
        height: 27px;
        font-size: 8px;
    }
    .cart-policies{
        width: 90%;
        margin-top: 15px;
        height: 20px;
    }
    .cart-policies h3{
        font-size: 10px;
    }
    .cart-policies img{
        width: 10px;
        height: 10px;
    }
    .related-products{
        width: 100%;
        margin-top: 40px;
    }
    .related-products h1{
        font-size: 20px;
        margin-bottom: 50px;
    }
    .related-product h5{
        font-size: 20px;
        width: 100%;
        height: 60px;i
    }

     .display{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 225px;
         overflow: hidden;
         border-radius: 10px;
         margin-left: 1%;
         margin-right:1% ;
     }
     .display-dic{
         width: 100%;
         padding: 10px;
     }
     
     .display-dic span h2{
         font-size: 20px;
         font-weight: 400px;
     }
     .display .img{
         height: 240px;
     }
    .display-dic img{
     width: 20px;
     height: auto;
    }
     .display-dic h1{
         margin-top: 5px;
         font-size: 22px;
         font-weight: 500;
     }
     .buy-now,
     .add-to-cart{
         height: 40px;
         font-size: 12px;
     }
    
     /* footer section */

     footer{
         width: 100%;
         height: 500px;
     }
     .footer-colum h3{
         margin-bottom: 5px;
         font-size: 16px;
         line-height: 24.8px;
     }
     footer ul a{
         font-size: 12px;
         line-height: 15px;
         margin-top: 5px;
     }
     footer ul a h1{
     font-size: 16px;
     line-height:26.8px ;
     margin-top: 2px;
     margin-bottom: 4px;
     }
     .footer-down{
         margin-left: 5%;
     }
     .footer-down h1{
         margin-bottom: 10px;
         font-size: 16px;
         line-height: 19px;
     }
     .subscribe input{
         width:400px ;
         height: 42px;
         font-size: 14px;
         padding: 0px 10px;
     }
     .subscribe button{
         height: 42px;
         width: 86px;
         font-size: 12px;
     }
     .app-down img{
         margin-left: 8px;
         margin-right: 10px;
         width: 120px;
         height: auto;
     }
 }
@media screen and (max-width :720px) {
    .section-1{
        height: 420px;
    }
    .sub-1 .img-1{
        height: 300px;
    }
    .sub-1 ul li img{
        width: 55px;
        height:60px;
    }
    .prod-viwe-dit h1{
        font-size: 20px;
    }
    .prod-viwe-dit h2{
        font-size: 25px;
        margin-top: 0px;
    }
    .prod-viwe-dit h3{
        font-size: 15px;
        margin-top: 22%;
    }
    .bot-con button{
        width: 150px;
        height: 45px;
        font-size: 12px;
    }
    .discount {
        width: 60px;
        height: 60px;
    }
    .size-p{
        width: 120px;
        font-size: 12px;
        height: 35px;
    }
    .prod-dit h4{
        font-size: 12px;
    }
    .section-2 span p{
        font-size: 14px;
    }
    .intro p{
        font-size: 12px;
        margin-left: 3%;
    }
    .related-product h5{
        font-size: 35px;
        height: 100px;
    }
 .dis-row{
     flex-wrap: wrap;
     width: 100%;
     display: flex;
     align-items: center;
     gap: 0%;
     padding: 0% 0%;
 }
 .display{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 224px;
     overflow: hidden;
     border-radius: 10px;
     margin-left: 1%;
     margin-right:1% ;
 }
 .display .img{
     height: 210px;
 }
}