@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
 /* general-setting*/  
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.logo img{
    width: 69.49px;
    height: 50px;
}
b{
    color: #1c00ff;
}
/* nave styling*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-bottom: 2%;
   width: 1134px;
   padding: 1.5% 0%;
   position: relative;
}
nav ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    list-style: none;
}
nav ul li{
 color: black;
 font-size: 18px;
}
nav ul .nav-link-hover,
nav ul li:hover{
    color: #1C00FF;
    font-size: 20px;
}
.search{
    position: relative;
}
.categories-cont{
    width: 500px;
    height: 180px;
    padding: 20px;
    overflow-y: scroll;
}
.categories-cont::-webkit-scrollbar{
    width: 40px;
}
.categories-cont::-webkit-scrollbar-track{
    background-color:transparent;
    border-radius: 200px;
    border: 18px solid #fcfcfd;
}
.categories-cont::-webkit-scrollbar-thumb{
    background-color: #1e06d3;
    border-radius: 1000px;
    border: 19px solid #fcfcfd;
}
.cartgos{
    position: absolute;
    background-color:#fcfcfd;
    z-index: 1;
    top: 110px;
    left:350px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: 3s ease-in-out;
    display: none;
    animation: 2s cartgos ease-in-out;
}
@keyframes cartgos{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
}
.li-cart:hover .cartgos{
   transform: translateY(0%);
   opacity: 1;
   display: block;
}

.cartgos::before{
   background-color:#fcfcfd;
   z-index: 10;
   content: "";
   width: 50px;
   height: 50px;
   border-radius: 5px;
   position: absolute;
   transform: rotate(45deg);
   top: -25px;
   left: 70px;
}
.cart-rwo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    justify-content: space-between;
}
.cart-rwo label img{
    width: 20px;
    margin-right: 20px;
}
.cartgos .cart-rwo a label{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    cursor: pointer;
}
.cart-rwo a label span{
    font-size: 19px;
    text-transform: capitalize;
    color: #1e06d3;
    font-weight: 500;
}
.search input{
    width:205px ;
    height: 50px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
    color: #b4b4b4;
    padding: 0% 30%;
}
.search input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #a3a3a3;
    align-items: center;
    line-height: 24px;
}
.search button{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 10%;
    bottom: 0;
    top: 0;

}
.user-log{
    position: absolute;
    z-index: 100000;
    background-color: #ffffff;
    top: 120%;
    right: 0;
    box-shadow:2px 1px 10px 2px #969697 ;
    border-radius: 10px;
    animation: up .5s ease forwards;
}
.user-dit{
    width: 270px;
    height: 357px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

}
@keyframes up{
    0%{
        transform: translateY(-15%);
    }
}
#user{
    margin-left: 1vw;
    height: 100%;
    width: 25%;
    padding: 22px;
    cursor: pointer;
}
.note{
    display: block;
background-color: black;

}
.boder-dawn{
    border: none;
    border-bottom: 1px solid #a3a3a3;
    border-radius: 0;
    width: 100%;
    align-items:center;
    display: flex;
    flex-direction:column;
    padding-bottom: 10px;
    position: relative;
}
.boder-dawn img:first-child{
   width: 40px;
   height: 40px;
}


.rotate{
    transform: rotate(180deg);
    padding: 10px;
    margin-left: 20%;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.preferred-dit-store-name{
    display: flex;
    flex-direction: column;
}   
.preferred-dit-store-name h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* identical to box height, or 125% */
    color: #000000;
    margin-top: 4px;
    letter-spacing: -0.02em;
    
}
.user-dit a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.dit-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px; 
    width: 80%;
    cursor: pointer;
}
.dit-row img{
    width: 16px;
    height: 18px;
    cursor: pointer;
    margin-right: 10%;
}
.dit-row p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.02em;
    color: #7A7A7A;
    cursor: pointer;
}
.dit-row:last-child{
    margin-top: 40px;
}
.nav-image{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-image{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-img{
    width: 26.67px;
    height: 29px;
}
.nav-img-sec-child{
    width: 22px;
    height: 26px;
}
/* filters section styling*/
.filter{
    width: 100%;
    padding: 0px 0px;
    margin-top: 40px;
    position: relative;
    height: 50px;
    position: relative;
    z-index: 1900;
}
#filter-see{
    opacity: 1;
}
.filter h3{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #7A7A7A;
    cursor: pointer;
}
.filternotsee{
    display: block;
    opacity: 0;
}
.filters{
    width: 550px;
    border-radius: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;5
    top: 50px;
    left: 2%;
    background-color:#f9f9fa;
    box-shadow: 0px 0px 50px 1px #979ef6;
}
.brande-slide{
    width: 100%;
    overflow-x: hidden;
}
.brande-slide span{
    display: flex;
}
.brande-slide span h2{
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 20px;
}
.brand-slide-show{
     display: flex;
     align-items: center;
     margin-top: 10px;
     overflow-x: scroll;
     height: 100px;
}
.brand-slide-show::-webkit-scrollbar{
    height: 7px;

}
.brand-slide-show::-webkit-scrollbar-track{
    background-color: transparent;
    transition: 10s ease-in-out;
    border-radius: 100px;
    
}
.brand-slide-show::-webkit-scrollbar-track:hover{
    background-color: #a5a9e7;
}
.brand-slide-show::-webkit-scrollbar-thumb{
    background-color: #1e06d3;
    border-radius: 200px;

}
.brand-color,
.brand-name{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    margin-top: 10px ;
    padding: 10px 15px;
    background-color: #e0e5f2;
    border-radius: 500px;
    color: #1e06d3;
    position: relative;
    min-width:120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}
#eras{
    position: absolute;
    right:30px;
}
.add{
    animation: add 2s ease forwards;
}
@keyframes add{
    0%{
        transform: translateX(-100%);
    }
}
.brand-color{
    justify-content:right;
    padding-right: 20px;
}
.brand-color::before{
    width: 30px;
    height: 30px;
    content: "";
    position: absolute;
    background-color: black;
    left: 10px;
    border-radius: 500px;
}
.brand-color:nth-child(1)::before{
    background-color: white;
}
.brand-color:nth-child(2)::before{
    background-color: black;
}
.brand-color:nth-child(3)::before{
    background-color: gold;
}
.brand-color:nth-child(4)::before{
    background-color: purple;
}
.brand-color:nth-child(5)::before{
    background-color: pink;
}
.brand-color:nth-child(6)::before{
    background-color: blue;
}
.brand-color:nth-child(7)::before{
    background-color: gray;
}


/* range slide*/
.rang{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
}
.container-rang{
    width: 90%;
    margin-top: 30px;
    position: relative;
    height: 100px;
}
.container-rang input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance:none ;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.container-rang .slider{
  width: 100%;
  height: 7px;
  background-color:  #e0e5f2;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  margin: auto;
}
.container-rang input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 7px;

}
.container-rang input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 7px;
}
.container-rang input[type="range"]::-ms-track{
    appearance: none;
    height: 7px;
}
.container-rang input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1e06d3;
    border-radius: 500px;
    cursor: pointer;
    pointer-events: auto;
    margin-top: -3px;
}
.container-rang input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1e06d3;
    border-radius: 500px;
    cursor: pointer;
    pointer-events: auto;
    margin-top: -3px;   
}
.container-rang input[type="range"]::-ms-thumb{
   appearance: none;
   height: 15px;
   width: 15px;
   background-color: #1e06d3;
   border-radius: 500px;
   cursor: pointer;
   pointer-events: auto;
   margin-top: -3px; 
}
.container-rang input[type="range"]:active::-webkit-slider-thumb{
    background-color: transparent;
    border: 4px solid #1e06d3;
}

.valu{
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 500;
}
.valu .valus span{
    font-size: 21px;
    font-weight: 500;
}


.customer-rev{
    width: 100%;
    margin-top: 30px;
}
.customer-rev h1{
    font-size: 21px;
    font-weight: 500;
}
.star-rate{
    margin-top: 20px;
}
.apply{
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #1e06d3;
    color: white;
    font-size: 21px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right:30px;
}

/* section view*/

.view{
    width: 1134px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.intro p{
   font-size: 16px;
   font-weight: 500;
}
.intro {
    margin-top: 20px;
  }
  .intro p{
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
  }
   
  
  .related-product h5{
    font-size: 60px;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 400;
  }
  
  .row{
      margin-top: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height:520px;
  }
  .display{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 358px;
      overflow: hidden;
      border-radius: 10px;
      min-height: 500px;
  }
  .display:hover{
      transform: translateY(1%);
  }
  .display .img{
      height: 300px;
      width: 358px;
  }
  .display-dic{
      width: 100%;
      min-height: 242px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .display-dic span{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
  }
  .display-dic span h2{
      font-size: 25px;
      font-weight: 400px;
  }
  .display-dic span li{
      align-items: center;
      justify-content: space-around;
      width: 20%;
      display: inline-flex;
  }
  .display-dic h1{
      margin-top: 10px;
      font-size: 28px;
      font-weight: 500;
  }
  .add-to-cart{
      height: 45px;
      border: none;
      background-color: #1C00FF;
      color: #ffffff;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
  }
  .add-to-cart:hover{
      background-color: #1e06d3;
  }
  .buy-now{
      background-color: #ffffff;
      height: 45px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      color: #1C00FF;
      font-weight: 600;
  }
  .buy-now:hover{
      background-color: #C4C4C4;
  }


/* footer styling*/

 
.footer{
    width: 100%;
    background-color:#030710;
    align-items: center;
    display: flex;
    flex-direction: column;
}
footer{
width: 1310px;
height: 612px;
background-color: #030710;
padding: 70px 20px;
}
footer ul{
    list-style: none;
    margin-left: 5px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-colum h3{
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400px;
    line-height: 34.8px;
    margin-top: 20px;
}
footer ul a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 2px;
}
footer ul a h1{
font-size: 24px;
line-height:36.8px ;
margin-top: 6px;
margin-bottom: 7px;
font-weight:300;
}
.socials{
display: flex;
justify-content: space-between;
margin-top: 13px;
}
.footer-down{
    display: flex;
    justify-content: space-between;
    margin-left: 320px;
    margin-top: 30px;
}
.footer-down h1{
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.subscribe h1{
    text-align: center;
}
.subscribe input{
    width:545px ;
    height: 52px;
    background-color: #ffffff;
    outline: none;
    border: none;
    color: black;
    font-size: 18px;
    padding: 0px 20px;
}
.subscribe input::placeholder{
color: #a3a3a3;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
}
.subscribe button{
    height: 52px;
    border: none;
    position: absolute;
    width: 126px;
    background-color: #1c00ff;
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    
}
.app-down{
    display: flex;
    flex-direction: column;
}
.app-down img{
    margin-left: 15px;
}

@media screen and (max-width :1050px ) {
    .conttent-head{
     width: 100%;
    }
    .intro{
        width: 95%;
        align-self: center;
    }
    .intro p{
        font-size: 12px;
    }
    .view{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    nav{
     width: 100vw;
     padding: 1.5% 5%;
    }
    nav ul{
     width: 35%;
    }
    nav ul li{
     font-size: 16px;
    }
    nav ul .nav-link-hover,
    nav ul li:hover{
     font-size: 18px;
    }
    .search input{
     width: 180px;
     height: 40px;
     padding: 0% 25%;
     font-size: 12px;
    }
    .search input::placeholder{
     font-size: 12px;
     line-height: 20px;
    }
    nav  button img{
     width: 13px;
     height: 13px;
    }
    .nav-image img{
     width: 23px;
     height: 23px;
    }
    .filter{
        width: 95%;
        align-self: center;
    }
    h5{
        width: 92%;
        font-size: 12px;

    }
    .cart{
        width: 630px;
    }
    .cart-row{
        height: 100px;
    }
    .discription{
        width: 200px;
    }
    .item-image{
        width: 75px;
        height: 75px;
    }
     .item-name{
        font-size: 18px;
     }
     .item-price{
        font-size: 16px;
     }
     .item-number{
        width: 70px;
     }
     .item-number img{
        width: 20px;
        height: 20px;
     }
     .item-number input{
        height: 25px;
        font-size: 19px;
     }
    .item-quary img{
        width: 19px;
        height: 19px;
    }
    .item-quary button{
        width: 80px;
        height: 25px;
        font-size: 12px;
    }
    .sum-totale{
        width: 300px;
    }
    .sum-totale h1{
        font-size: 19px;
    }
    .sum-totale .spam{
        font-size: 14px;
    }
    .sum-totale h2{
        font-size: 14px;
    }
    .sum-totale span{
        font-size: 9px;
    }
    .proceed{
        height: 36px;
        font-size: 12px;
    }
    .cart-policies{
        width: 90%;
        margin-top: 40px;
        height: 40px;
    }
    .cart-policies h3{
        font-size: 18px;
    }
    .cart-policies img{
        width: 18px;
        height: 18px;
    }
    .related-products{
        width: 100%;
        margin-top: 50px;
    }
    .related-products h1{
        font-size: 30px;
        margin-bottom: 90px;
    }
    .related-product h5{
        font-size: 30px;
        width: 100%;
        height: 100px;i
    }
    /* header section */
     
     
     .dis-row{
        width: 100%;
     }
      .display{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 300px;
         overflow: hidden;
         border-radius: 10px;
         margin-left: 1%;
         margin-right:1% ;
     }
     .sele-product{
         width: 95%;
     }
     footer{
         width: 100%;
     }
     .footer-down{
         margin-left: 7%;
     }
    }
@media screen and (max-width :915px ) {
    .conttent-head{
     width: 100%;
    }

    nav{
     width: 100%;
     padding: 1.5% 4%;
    }
    nav ul{
     width: 35%;
    }
    .categories-cont{
     width: 350px;
     padding: 10px;
     height: 100px;
    }
    .categories-cont::-webkit-scrollbar{
     width: 20px;
    }
    .categories-cont::-webkit-scrollbar-track{
     background-color:transparent;
     border-radius: 200px;
     border: 10px solid #fcfcfd;
     }
     .categories-cont::-webkit-scrollbar-thumb{
         background-color: #1e06d3;
         border-radius: 1000px;
         border: 9px solid #fcfcfd;
     }

     .cartgos{
         top: 100px;
         left:25%;
         padding: 0;
     }
     .cartgos::before{
         width: 30px;
         width: 30px;
         height: 30px;
         top: -15px;
     }
     .cart-rwo{
         height: 30px;
     }
     .cart-rwo label img{
         width: 10px;
         height: auto;
         margin-right: 0px;
     }
     .cart-rwo a label span{
         font-size: 13px;
         font-weight: 500;
     }
     .cartgos .cart-rwo a label{
         width: 100px;
     }
    .logo img{
     width: 55px;
     height: 40px;
    }
    nav ul li{
     font-size: 12px;
    }
    nav ul .nav-link-hover,
    nav ul li:hover{
     font-size: 13px;
    }
    nav ul img{
     width: 10px;
     height: 7px;
    }
    .search input{
     width: 120px;
     height: 30px;
     padding: 0% 25%;
    }
    .search input::placeholder{
     font-size: 12px;
     line-height: 20px;
    }
    nav  button img{
     width: 10px;
     height: 10px;
    }
    .nav-image img{
     width: 16px;
     height: 16px;
    }
    h5{
        width: 92%;
        font-size: 12px;

    }
    .cart{
        width: 600px;
    }
    .cart-row{
        height: 90px;
    }
    .discription{
        width: 190px;
    }
    .item-image{
        width: 70px;
        height: 70px;
    }
     .item-name{
        font-size: 16px;
     }
     .item-price{
        font-size: 12px;
     }
     .item-number{
        width: 60px;
     }
     .item-number img{
        width: 15px;
        height: 15px;
     }
     .item-number input{
        height: 20px;
        font-size: 14px;
     }
    .item-quary img{
        width: 14px;
        height: 14px;
    }
    .item-quary button{
        width: 70px;
        height: 20px;
        font-size:6%;
    }
    .sum-totale{
        width: 250px;
        padding: 10px 30px;
    }
    .sum-totale h1{
        font-size: 16px;
    }
    .sum-totale .spam{
        font-size: 12px;
    }
    .sum-totale h2{
        font-size: 12px;
    }
    .sum-totale span{
        font-size: 4px;
    }
    .proceed{
        height: 27px;
        font-size: 8px;
    }
    .cart-policies{
        width: 90%;
        margin-top: 20px;
        height: 30px;
    }
    .cart-policies h3{
        font-size: 14px;
    }
    .cart-policies img{
        width: 14px;
        height: 14px;
    }
    .related-products{
        width: 100%;
        margin-top: 40px;
    }
    .related-products h1{
        font-size: 20px;
        margin-bottom: 50px;
    }
    .related-product h5{
        font-size: 25px;
        width: 100%;
        height: 70px;i
    }

    /* header section */
     
     .display{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 268px;
         overflow: hidden;
         border-radius: 10px;
         margin-left: 1%;
         margin-right:1% ;
     }
     .display-dic{
         width: 100%;
         padding: 10px;
     }
     
     .display-dic span h2{
         font-size: 20px;
         font-weight: 400px;
     }
     .display .img{
         height: 240px;
     }
    .display-dic img{
     width: 20px;
     height: auto;
    }
     .display-dic h1{
         margin-top: 5px;
         font-size: 22px;
         font-weight: 500;
     }
     .buy-now,
     .add-to-cart{
         height: 40px;
         font-size: 12px;
     }
     @keyframes add{
         0%{
             transform: translateX(-100%);
         }
     }
     
     .bramd a img{
         width: 120px;
         height: 120px;
     }

     /* be a sales person*/

     
     /* footer section */

     footer{
         width: 100%;
         height: 500px;
     }
     .footer-colum h3{
         margin-bottom: 5px;
         font-size: 16px;
         line-height: 24.8px;
     }
     footer ul a{
         font-size: 12px;
         line-height: 15px;
         margin-top: 5px;
     }
     footer ul a h1{
     font-size: 16px;
     line-height:26.8px ;
     margin-top: 2px;
     margin-bottom: 4px;
     }
     .footer-down{
         margin-left: 5%;
     }
     .footer-down h1{
         margin-bottom: 10px;
         font-size: 16px;
         line-height: 19px;
     }
     .subscribe input{
         width:400px ;
         height: 42px;
         font-size: 14px;
         padding: 0px 10px;
     }
     .subscribe button{
         height: 42px;
         width: 86px;
         font-size: 12px;
     }
     .app-down img{
         margin-left: 8px;
         margin-right: 10px;
         width: 120px;
         height: auto;
     }
 }
@media screen and (max-width :900px ) {
    .conttent-head{
     width: 100%;
    }

    nav{
     width: 100%;
     padding: 1.5% 4%;
    }
    nav ul{
     width: 35%;
    }
    .categories-cont{
     width: 350px;
     padding: 10px;
     height: 100px;
    }
    .categories-cont::-webkit-scrollbar{
     width: 20px;
    }
    .categories-cont::-webkit-scrollbar-track{
     background-color:transparent;
     border-radius: 200px;
     border: 10px solid #fcfcfd;
     }
     .categories-cont::-webkit-scrollbar-thumb{
         background-color: #1e06d3;
         border-radius: 1000px;
         border: 9px solid #fcfcfd;
     }

     .cartgos{
         top: 100px;
         left:25%;
         padding: 0;
     }
     .cartgos::before{
         width: 30px;
         width: 30px;
         height: 30px;
         top: -15px;
     }
     .cart-rwo{
         height: 30px;
     }
     .cart-rwo label img{
         width: 10px;
         height: auto;
         margin-right: 0px;
     }
     .cart-rwo a label span{
         font-size: 13px;
         font-weight: 500;
     }
     .cartgos .cart-rwo a label{
         width: 100px;
     }
    .logo img{
     width: 55px;
     height: 40px;
    }
    nav ul li{
     font-size: 12px;
    }
    nav ul .nav-link-hover,
    nav ul li:hover{
     font-size: 13px;
    }
    nav ul img{
     width: 10px;
     height: 7px;
    }
    .search input{
     width: 120px;
     height: 30px;
     padding: 0% 25%;
    }
    .search input::placeholder{
     font-size: 12px;
     line-height: 20px;
    }
    nav  button img{
     width: 10px;
     height: 10px;
    }
    .nav-image img{
     width: 16px;
     height: 16px;
    }


    /* header section */

    h5{
        width: 92%;
        font-size: 12px;

    }
    .cart{
        width: 400px;
    }
    .cart-row{
        height: 90px;
    }
    .discription{
        width: 190px;
    }
    .item-image{
        width: 60px;
        height: 60px;
    }
     .item-name{
        font-size: 12px;
     }
     .item-price{
        font-size: 9px;
     }
     .item-number{
        width: 50px;
     }
     .item-number img{
        width: 10px;
        height: 15px;
     }
     .item-number input{
        height: 15px;
        font-size: 12px;
     }
    .item-quary img{
        width: 10px;
        height: 10px;
    }
    .item-quary button{
        width: 70px;
        height: 20px;
        font-size:3%;
    }
    .sum-totale{
        width: 250px;
        padding: 10px 30px;
        height: 350px;
    }
    .sum-totale h1{
        font-size: 16px;
    }
    .sum-totale .spam{
        font-size: 12px;
        padding-top: 10px;
        height: 50px;
    }
    .sum-totale h2{
        font-size: 12px;
    }
    .sum-totale span{
        font-size: 4px;
        display: flex;
        align-items: center;
        justify-content: right;
        text-align: right;
    }
    .proceed{
        height: 27px;
        font-size: 8px;
    }
    .cart-policies{
        width: 90%;
        margin-top: 15px;
        height: 20px;
    }
    .cart-policies h3{
        font-size: 10px;
    }
    .cart-policies img{
        width: 10px;
        height: 10px;
    }
    .related-products{
        width: 100%;
        margin-top: 40px;
    }
    .related-products h1{
        font-size: 20px;
        margin-bottom: 50px;
    }
    .related-product h5{
        font-size: 20px;
        width: 100%;
        height: 60px;i
    }

     .display{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 225px;
         overflow: hidden;
         border-radius: 10px;
         margin-left: 1%;
         margin-right:1% ;
     }
     .display-dic{
         width: 100%;
         padding: 10px;
     }
     
     .display-dic span h2{
         font-size: 20px;
         font-weight: 400px;
     }
     .display .img{
         height: 240px;
     }
    .display-dic img{
     width: 20px;
     height: auto;
    }
     .display-dic h1{
         margin-top: 5px;
         font-size: 22px;
         font-weight: 500;
     }
     .buy-now,
     .add-to-cart{
         height: 40px;
         font-size: 12px;
     }
    
     /* footer section */

     footer{
         width: 100%;
         height: 500px;
     }
     .footer-colum h3{
         margin-bottom: 5px;
         font-size: 16px;
         line-height: 24.8px;
     }
     footer ul a{
         font-size: 12px;
         line-height: 15px;
         margin-top: 5px;
     }
     footer ul a h1{
     font-size: 16px;
     line-height:26.8px ;
     margin-top: 2px;
     margin-bottom: 4px;
     }
     .footer-down{
         margin-left: 5%;
     }
     .footer-down h1{
         margin-bottom: 10px;
         font-size: 16px;
         line-height: 19px;
     }
     .subscribe input{
         width:400px ;
         height: 42px;
         font-size: 14px;
         padding: 0px 10px;
     }
     .subscribe button{
         height: 42px;
         width: 86px;
         font-size: 12px;
     }
     .app-down img{
         margin-left: 8px;
         margin-right: 10px;
         width: 120px;
         height: auto;
     }
 }
@media screen and (max-width :720px) {
    .section-1{
        height: 420px;
    }
    .sub-1 .img-1{
        height: 300px;
    }
    .sub-1 ul li img{
        width: 55px;
        height:60px;
    }
    .prod-viwe-dit h1{
        font-size: 20px;
    }
    .prod-viwe-dit h2{
        font-size: 25px;
        margin-top: 0px;
    }
    .prod-viwe-dit h3{
        font-size: 15px;
        margin-top: 22%;
    }
    .bot-con button{
        width: 150px;
        height: 45px;
        font-size: 12px;
    }
    .discount {
        width: 60px;
        height: 60px;
    }
    .size-p{
        width: 120px;
        font-size: 12px;
        height: 35px;
    }
    .prod-dit h4{
        font-size: 12px;
    }
    .section-2 span p{
        font-size: 14px;
    }
    .intro p{
        font-size: 12px;
        margin-left: 3%;
    }
    .related-product h5{
        font-size: 35px;
        height: 100px;
    }
 .dis-row{
     flex-wrap: wrap;
     width: 100%;
     display: flex;
     align-items: center;
     gap: 0%;
     padding: 0% 0%;
 }
 .display{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 224px;
     overflow: hidden;
     border-radius: 10px;
     margin-left: 1%;
     margin-right:1% ;
 }
 .display .img{
     height: 210px;
 }
}